[2015-06-05 18:07] dhhagan opened #2 "FanDAC and LaserDAC settings are incorrect"
When using the `set_laser_power` and `set_fan_power` calls, weird things happen. Here are some results:

| Note | FanDAC | LaserDAC |
| --- | --- | --- |
| Set FanDAC to 0 | 150 | 0 |
| Set FanDAC to 255 | 255 | 0 |
| Set FanDAC to 123 | 150 | 0 |

Note the default settings are `LaserDAC = 150` and `FanDAC = 255`. This was tested on an OPC-N2 with firmware v14a.

[2015-06-05 18:14] dhhagan opened #3 "Fan on/off not working"
It appears that although the correct bytes are returned, the fan does not actually turn on when the `fan_on` command is issued. Tested with firmware v14a.

[2015-06-07 13:50] dhhagan opened #4 "Firmware v17 shuts down on histogram"
Firmware v17 does not correctly read the histogram and shuts down immediately after. Temp/Pressure values are way off and the checksum is very different than the sum of the histograms.

[2015-06-08 19:19] dhhagan opened #5 "Histogram bin boundaries are ADC units"
The histogram bin boundaries are given in ADC units instead of size (micrometers). This should be converted! What is the relationship?

[2015-06-08 19:21] #3 closed, assigned to nobody

[2015-06-08 19:22] #4 closed, assigned to nobody

[2015-06-23 14:47] dhhagan opened #6 "Error arrises when the connection is bad between the OPC and the Pi"
If the firmware version can't be read, a seconds error arrises:

ValueError: invalid literal for int() with base 10: 'r=0'

[2015-07-12 16:00] dhhagan opened #7 "Pressure and Temp readings incorrect for firmware >= 17"
Looks like something is going wrong with the temp/pressure reading..always outputs 10000

[2015-10-17 19:55] dhhagan commented on #5
Alphasense has been contacted and has not yet provided an answer.

[2015-10-17 23:53] dhhagan opened #8 "OPCN1 Support"
Giuseppe De Pascali asked for the library to support the OPC-N1 as well as future versions..

[2015-10-18 00:14] dhhagan commented on #8
Closed with v0.2.0

[2015-10-18 00:14] #8 closed

[2015-10-20 10:13] simonkemper opened #10 "PM1 / PM2.5 / PM10 Readings are incorrect (Firmware >= 17)"
I am using py-opc to read out an opc-n2 - firmware version 17. The reading of PM1 / PM2.5 / PM10 should be in a range of 10-40 µg. Using your library the converted floats in the histogram are somewhat between 2000.00 - 2200.00. Any ideas? Maybe the MSB / LSB are inverted? Even when forcing bad air through the inlet the readings never really change.

[2015-10-20 12:01] dhhagan commented on #10
Interesting. When you say you are using the converted floats in the histogram, do you mean you are using the values labeled 'pm1', 'pm25', and 'pm10'? Or are you integrating across the bins to get those values? Also, are you performing an instantaneous reading? Or are you averaging/summing across multiple iterations?  I have seven OPC-N2's here that are running great; this is quite curious and I'd

[2015-10-20 15:00] simonkemper commented on #10
Yes. I am using those values labeled 'pm1' ... 'pm10'. I am directly reading the output I get when calling the 'read_histogram()' function. I am doing this once every second. I haven't figured out yet what went wrong.

[2015-10-20 15:13] dhhagan commented on #10
Interesting. What are the values like across the 16 bins?

[2015-10-20 15:24] simonkemper commented on #10
Well they are somehow strange two. The first to bins (start at bin0) are somewhere between 20-30. Bin4 is always in a range of 1500 - 1600 no matter what you do. The last bins are always 0 and only moving up to 1 - even if applying a test aerosol ...

[2015-10-20 15:25] dhhagan commented on #10
Interesting. There is clearly something strange going on. Have you tried running it with their software? If so, do you see something similar?

[2015-10-20 15:28] simonkemper commented on #10
Yes I have done that. And everything is running as expected. I will clean the system and do a reinstall of the whole software - hopefully that will help. I will let you know. - However, I was hoping this might be a known issue and that there might exist a fix. Thanks anyway!

[2015-10-20 15:38] dhhagan commented on #10
You are using the opc.OPCN2 class, correct?

[2015-10-21 12:54] simonkemper commented on #10
After doing a clean reinstall of almost everything I found out what caused the bad reading. I somehow installed it to a +3.3V rail. Interesting that communications where still possible. I really had no clue because the everything seem to work - except for the software.

The Values I get are now much more useful. I will close this for now. Anyway I might still have some questions concerning average

[2015-10-21 12:54] #10 closed

[2015-10-23 14:41] dhhagan commented on #7
I spoke with Alphasense, and the T/P readings are no longer included with firmwares >= 17

[2015-10-23 14:41] #7 closed

[2015-12-30 21:08] dhhagan opened #13 "Add mock testing for coveralls"

[2016-01-04 22:37] Myszka opened #14 "RPi connection failure - FirmwareError"
I can not connect with OPC-N2 sensor, which reports under the Alphasense software firmware version: "FirmwareVer=OPC-017b...............................BD".
During initialization with command:
`alpha = opc.OPCN2(spi)`
I get
`FirmwareError: Cannot determine correct firmware for this OPC:`

Additionally in the official manual I found different wiring for the molex 6w plug for OPC-N2 (attached).
![op

[2016-01-04 23:13] dhhagan commented on #14
Yup. You're correct. These are pinouts from a breakout board I had designed for the board. I'm very sorry about this. I will change it in the docs immediately.

[2016-02-08 15:23] rouvoy opened #15 "Using the library for accessing a device connected via USB"
My OPC-N2 device is connected to my Raspberry Pi 2 using a USB adapter, and the current version of the library fails to connect to the device. Did you give a try to such settings?

[2016-02-08 17:03] dhhagan commented on #15
That is correct. I assume you are using a SPI-USB adapter? The library is written to communicate directly over the Raspberry Pi's SPI interface only. You will need to connect the Pi to the OPC-N2 as shown in the documents, or write SPI-USB drivers for the original Alphasense code. Let me know if you have any more questions.

[2016-02-12 00:24] #15 closed

[2016-02-19 18:53] dhhagan opened #16 "py-spidev: no such file or directory"
If you are seeing an error on import, it is probably because SPI is not enabled on the Raspberry Pi! Go to raspi-config and turn SPI on!

[2016-02-19 18:53] #16 closed

[2016-03-18 22:23] louisanb commented on #14
Sorry i don't get what is wrong with the wiring? I got the same error with
SCK-CLK
SDO-MISO
SDI-MOSI
/SS-CE0
Is this the right one ?

[2016-03-18 22:40] dhhagan commented on #14
Can you give me a bit more information? What firmware version is your opc?

[2016-03-18 22:47] louisanb commented on #14
OPC 1.0.5591.26628
I looked it up in the document it came with and it says firmware can be found when it is first connected to the software and this is what is shown. "0.5591" is the version?

[2016-03-18 22:53] louisanb commented on #14
oh sorry Firmware version=17
Found USB-ISS versioin 6
USBISS SerialNo=00021780
Device interface=USBISS
Device info String=OPC-N2 FirmwareVer=OPC
Device type set to OPC_N2
Firmware version=17

[2016-03-18 22:57] dhhagan commented on #14
Ok okay! It should work then. How are you powering it?
On Fri, Mar 18, 2016 at 6:53 PM louisanb <notifications@github.com> wrote:

--
Regards,

David H Hagan
PhD Student | Atmospheric Chemistry & Physics
Department of Civil & Environmental Engineering
Massachusetts Institute of Technology
Cambridge, MA 02139
P: 707.227.6695 | E. dhagan@mit.edu | W. https://davidhagan.me

[2016-03-18 22:58] louisanb commented on #14
A battery pack with 4 AA 1.5V i measured the output volts out of the battery pack which is 5.6V

[2016-03-18 22:59] dhhagan commented on #14
Is it powering both the pi and the opc?
On Fri, Mar 18, 2016 at 6:58 PM louisanb <notifications@github.com> wrote:

--
Regards,

David H Hagan
PhD Student | Atmospheric Chemistry & Physics
Department of Civil & Environmental Engineering
Massachusetts Institute of Technology
Cambridge, MA 02139
P: 707.227.6695 | E. dhagan@mit.edu | W. https://davidhagan.me

[2016-03-18 23:00] dhhagan commented on #14
Can you attach a picture or diagram?
On Fri, Mar 18, 2016 at 6:59 PM David Hagan <david@davidhhagan.com> wrote:

--
Regards,

David H Hagan
PhD Student | Atmospheric Chemistry & Physics
Department of Civil & Environmental Engineering
Massachusetts Institute of Technology
Cambridge, MA 02139
P: 707.227.6695 | E. dhagan@mit.edu | W. https://davidhagan.me

[2016-03-18 23:00] louisanb commented on #14
No just the opc. i am using the wall power cable thing came with the pi for powering the pi alone right now

[2016-03-18 23:02] dhhagan commented on #14
Ahh okay..there may be some grounding issues but probably not. Do you know
if the batteries supply enough current? It needs at least 260 mA
On Fri, Mar 18, 2016 at 7:01 PM louisanb <notifications@github.com> wrote:

--
Regards,

David H Hagan
PhD Student | Atmospheric Chemistry & Physics
Department of Civil & Environmental Engineering
Massachusetts Institute of Technology
Cambridge, MA 02139
P: 70

[2016-03-18 23:02] dhhagan commented on #14
Otherwise I would try verifying the connections are good?
On Fri, Mar 18, 2016 at 7:02 PM David Hagan <david@davidhhagan.com> wrote:

--
Regards,

David H Hagan
PhD Student | Atmospheric Chemistry & Physics
Department of Civil & Environmental Engineering
Massachusetts Institute of Technology
Cambridge, MA 02139
P: 707.227.6695 | E. dhagan@mit.edu | W. https://davidhagan.me

[2016-03-18 23:12] louisanb commented on #14
oh i see! it might be the connections which seems solid but it maybe causing the problem here. The ground issues thing is a good call too i will check that.
About the Current I m using regular Energizer battery [http://www.amazon.com/Energizer-Max-Alkaline-Battery-24-Count/dp/B004U429AQ/ref=sr_1_1_s_it?s=hpc&ie=UTF8&qid=1458342479&sr=1-1&keywords=energizer+batteries](url)
I assume it is fine the f

[2016-03-18 23:19] louisanb commented on #14
I am checking the current now!

[2016-03-21 23:27] dhhagan commented on #14
Hey @louisanb did you solve your issues with the OPC?

[2016-03-22 14:29] dhhagan opened #17 "Make sure that spidev is set correctly"
Mode must be 1, clock is valid, etc

[2016-03-24 22:53] louisanb commented on #14
Oh sorry i did not see this. Thank you very much for asking! I just got the perfect wire and crimp that i bought to eliminate bad connections concern today. It still has the same error. I am still trying to solve the problem and i am going to do some troubleshooting on the grounding issue you mentions before.  besides that i noticed i have to only connect the power and GND pin to power it up first

[2016-03-25 21:26] louisanb commented on #14
sorry forgot to attack the pictures
![img_6157](https://cloud.githubusercontent.com/assets/8673420/14054308/831e5c9c-f295-11e5-8c94-dd449aac5e1a.JPG)
![img_6156](https://cloud.githubusercontent.com/assets/8673420/14054314/89ba4796-f295-11e5-8da8-d98f908a653a.JPG)

[2016-03-25 21:37] dhhagan commented on #14
Awesome. Any chance you could tell me which color wires are where on the OPC?

[2016-03-25 21:56] louisanb commented on #14
Oh yea
Vcc-Red
SCK-Brown
SDO-Green
SDI-Yellow (connects to purple wire on Rpi)
SS-Blue
GND-Black

[2016-03-25 21:57] dhhagan commented on #14
Okay. I can't see the connection to the OPC which is the most likely error. Can you label which colors are plugged into pins 1-6 on the OPC?

[2016-03-25 22:08] louisanb commented on #14
1-Vcc-Red (1 being bottom left of OPC as shown in the picture below
2-SCK-Brown
3-SDO-Green
4-SDI-Yellow (connects to purple wire on Rpi)
5-SS-Blue
6-GND-Black
![img_6159](https://cloud.githubusercontent.com/assets/8673420/14055025/6e3eb6ae-f29b-11e5-8bf5-0fb53c11e50c.JPG)
![img_6160](https://cloud.githubusercontent.com/assets/8673420/14055028/71e02e46-f29b-11e5-9f3d-13b1ae11f0a0.JPG)
![img_6158](

[2016-03-25 22:11] louisanb commented on #14
For Rpi to read the firmware of OPC, does OPC need to be powered? Also please discard the first picture set i accidently switched the blue pin/wire with the purple one when i took the picture

[2016-03-25 23:35] dhhagan commented on #14
Hmm. The wiring is definitely fine. I assume it's a connection? Otherwise I'm not sure. Have you enabled SPI on the RPi through rapsi-config?

[2016-03-26 17:55] louisanb commented on #14
Yea i did enable it. I did not do much on Rpi codewise besides debugging or trying to make the code/OPC to work. The only thing i did was enable SPI and download the code/library from your github and tried to run it and make it work with OPC. I did not check the SPI alone after enable it like the way in one of the pictures below.
![spi test](https://cloud.githubusercontent.com/assets/8673420/14061

[2016-03-26 22:38] dhhagan commented on #14
@louisanb Interesting. I'm not exactly sure what's going on then aside from it being a bad connection. If you still are powering them separately, I would try using a central PSU.

[2016-03-29 21:44] louisanb commented on #14
Thank you very much! I will definitely try the PSU, i feel like it is the cause.

[2016-04-02 16:25] dhhagan opened #18 "Add support for Firmware v18"

[2016-04-04 23:53] dhhagan opened #21 "DOI Tag"
Update the DOI Markdown to pull the latest badge from Zenodo

[2016-04-12 10:43] dhhagan opened #22 "Test script has incorrect API methods"
Pat (via email) pointed out the test module uses API methods from pre-v1.

[2016-06-16 11:42] dhhagan opened #24 "Issue with Checksum"
Question was raised through email. Issued a warning that data transfer was incomplete.

[2016-06-17 12:02] dhhagan opened #25 "Issue with docs with spidev instance"
should be `spidev.SpiDev()`, not `spidev.Spidev()`

[2016-06-17 12:34] #25 closed

[2016-07-17 09:33] vanjamie3 commented on #5
Have they provided an answer yet, or does anyone know the relationship?

I cannot figure out how to use the _calculate_bin_boundary() function at all, what exactly is the input argument? It would make most sense to me if the argument is simply the number of the bin (i.e. 0-15) but this cannot be the case. I can only get non-zero output if the argument is in the order of 1000's.

I am using the OPC

[2016-07-17 09:55] dhhagan commented on #5
HI @vanjamie3 unfortunately they have been very resistant to providing an answer on this. The current `calculate_bin_boundary` function is simply a placeholder; I will add a warning to it so that it is a bit more obvious until fixed. As for now, we are left with just their default boundaries which are provided in their software. I can provide those to you if you aren't able to use their software y

[2016-07-28 14:37] rouvoy opened #30 "Add support for Firmware v17b"
Does anyone succeed in running py-opc on a OPC-N2 v.17b?

I got the error `Your firmware version could not be automatically detected.`, so far...

[2016-07-28 14:44] dhhagan commented on #30
Yes, it should. I used to run it on 17.b. Typically, it means there is a bad connection..? How do you have it wired up?

[2016-07-28 14:54] rouvoy commented on #30
I use a separate PSU (5V, 1000mA) to power the OPC-N2 and plug the other cables as documented:
- `SCK =>  CLK`
- `SDO =>MISO`
- `SDI => MOSI`
- `/SS => CE0`
- `GND => GND`

![img_2128](https://cloud.githubusercontent.com/assets/1086919/17217232/e1739af4-54e3-11e6-90ee-833660e19e36.JPG)

[2016-07-28 15:17] dhhagan commented on #30
Interesting. I will try to find an OPC w/fW 17.b and test myself. You're using the most up-to-date version of the library, I assume? What version of python are you using?

Can you try running the following:

    import spidev
    import time

    spi = spidev.SpiDev(0, 0)
    spi.open(0, 0)
    spi.mode = 1
    spi.max_speed_hz = 500000

    info_string = []
    spi.xfer([0x3F])
    time.sleep(9e-

[2016-07-29 06:32] rouvoy commented on #30
I use Python 2.7.9 with the most up-to-date version of your library.

The above code display nothing in the console.

[2016-07-29 13:07] dhhagan commented on #30
Okay. Is the OPC starting up after about a minute even without sending a command? Have you run any other SPI devices off the RPi? It seems like one of the pins has a poor connection (MOSI, MISO, or CS).

What does `lsmod` show?

[2016-07-29 13:15] rouvoy commented on #30
1. The OPC starts automatically after a minute without sending any command
2. I never run any other SPI device on the RPi2
3. Here is the result of `lsmod`:
[code]

[2016-09-01 15:00] DancingQuanta commented on #5
I appeared to find a lookup table between ADC values and diameter in my alphasense-supplied software. I think you were looking for this?

[2016-09-01 15:03] DancingQuanta opened #31 "Allow choice of pyserial module alongside spidev"
In my current project I have a sensor connected to SPI to USB converter which I can query using pyserial module.
I think the pyserial module must be added to this useful module and I could do a pull request but this involves large reorganisation of code and so I think we need to discuss this.

[2016-09-01 19:55] dhhagan commented on #5
Hey @vanjamie3 and @DancingQuanta : I just got back from India and will push these changes within the next 48 hours. There is now a lookup table on the new opc's (as mentioned by @DancingQuanta ) which will be incorporated.

[2016-09-01 19:58] dhhagan commented on #31
Hi @DancingQuanta : So if I understand correctly, you have successfully been able to use this library with pyserial and a usb-spi converter rather than GPIO? Have you tested it on anything other than an RPI? I have no problems adding it to the module, but would need to make sure it works on various architectures first. One of the perks of spidev is it works on non-RPi platforms. Feel free to fork

[2016-09-01 20:12] DancingQuanta commented on #31
Hello @dhhagan I spoke too soon. I did not understand how my USB-SPI converter work and now discovered the converter is multi-purpose converter (I2C SPi OI, etc) which means that it requires setting up before tranmsitting any data to sensor and receiving from the sensor.
Now having understood my converter I figured it is much better to integrate this into spidev rather than the py-opc.
Sorry about

[2016-09-02 08:46] #31 closed

[2016-09-02 11:39] dhhagan opened #32 "Add a version badge"
https://badge.fury.io/for/py/py-opc

[2016-09-02 15:21] dhhagan commented on #22
No more test script..

[2016-09-02 15:21] #22 closed

[2016-09-02 15:26] dhhagan commented on #21
Doesn't look like this is possible, so I will just have to pull the newest one and replace it in the Readme.md file each time... grrr 👎

[2016-09-02 15:26] #21 closed

[2016-09-02 16:59] dhhagan commented on #5
Patched as part of v0.1.1

[2016-09-02 16:59] #5 closed

[2016-09-02 17:00] #32 closed

[2016-09-02 17:00] #18 closed

[2016-09-02 17:00] #17 closed

[2016-09-02 17:07] dhhagan commented on #24
It looks like this is caused by an actual discrepancy in the checksum. Basically, on the first histogram reading, the checksum is incorrect and thus the software warns the user that this is a bad reading. I would argue it is behaving as expected.

[2016-09-02 17:07] #24 closed

[2016-09-02 17:34] dhhagan commented on #30
Sorry this has taken so long; I am finally back in the US.

Can you tell me what the command `pip freeze` prints out?

[2016-09-12 13:00] DancingQuanta opened #35 "Should bin boundaries be converted to um from ADC by user or not"
Should the conversion of bin boundary ADC value to um be managed by read_info_string function or by the user?

[2016-09-12 13:32] dhhagan commented on #35
I would argue for by the user. There are multiple adc values that correspond to the same diameter, so it is more accurate and reliable to leave the conversion up to the user if repeatability is desired.

[2016-09-12 14:13] DancingQuanta commented on #35
Make sense, there should be a note about that in the docs

[2016-09-12 14:15] DancingQuanta commented on #35
Out of curiosity, what ADC values for each bin do you normally get (if you already gotten them out of your sensor)?

[2016-09-12 14:40] dhhagan commented on #35
I can throw up a list of the default values later...the first bin is 0.38 - 0.54 microns (off the top of my head). You can look them up using the [lookup_bin_boundary][1] method. Also, the lookup table can be found [here][2]. The ADC value auto-increments.

I docs will be updated with release v1.2. Sorry about the delays..

[1]: https://github.com/dhhagan/py-opc/blob/master/opc/__init__.py#L157
[2

[2016-09-12 15:08] DancingQuanta commented on #35
Not a problem, I already got my bin boundaries though the first bin is 0.54
while I thought it was 0.38.

On 12 Sep 2016 15:40, "David H Hagan" <notifications@github.com> wrote:

I can throw up a list of the default values later...the first bin is 0.38 -
0.54 microns (off the top of my head). You can look them up using the
lookup_bin_boundary
<https://github.com/dhhagan/py-opc/blob/master/opc/__in

[2016-09-12 15:12] dhhagan commented on #35
That's what I get to. I think that it's the value for the right-side (upper end) of bin 0. Bin 0 always starts at 0.38 um and the last bin always ends at 17.5 um no matter what.

[2016-09-12 16:10] DancingQuanta commented on #35
I find it hard to find any description of the bin boundaries so that why I got a bit ocnfused.
Here is my bin boundaries
[code]
Do those values make sense to you? Are they right of bins?

[2016-09-12 16:24] dhhagan commented on #35
Yea. Alphasense hasn't been great at documenting this. There are a total of 16 bins. The bin boundaries that are accessible via the configuration variables describe essentially the inner 15 boundaries with the overall min and max left out.

So, Bin 0 is 0.38-0.54 microns and Bin 15 is 16.0-17.5 microns. Does that make sense?

[2016-09-12 17:31] DancingQuanta commented on #35
Yes it makes sense now, I admit I didn't check the number of bin boundaries.

Will close this issue if there is nothing else to discuss

On 12 Sep 2016 17:24, "David H Hagan" <notifications@github.com> wrote:

[2016-09-12 20:21] #35 closed

[2016-09-15 15:26] gvoelker commented on #30
I have excat the same issue with the difference that my OPC-N2 is running on firmeware version 18. Raspi and OPC are powered by the same PSU (max 3A). Looking forward for your answer. Greetings from Germany .

[2016-09-15 17:21] dhhagan commented on #30
Hi @gvoelker Have you tried doing the steps I outlined above?

Try running this and let me know what you get:

import spidev
import time

[code]

[2016-09-15 19:09] gvoelker commented on #30
Result of pip freeze:
pi@raspberrypi:~ $ pip freeze
Pillow==2.6.1
RPi.GPIO==0.6.2
RTIMULib==7.2.1
argparse==1.2.1
chardet==2.3.0
colorama==0.3.2
gpiozero==1.2.0
html5lib==0.999
lxkeymap==0.1
mcpi==0.1.1
ndg-httpsclient==0.3.2
numpy==1.8.2
picamera==1.11
pifacecommon==4.2.1
pifacedigitalio==3.1.0
pigpio==1.30
py-opc==1.0.1
pyOpenSSL==0.13.1
pyasn1==0.1.7
pygame==1.9.2a0
pygobject==3.14.0
pyserial==

[2016-09-15 20:24] dhhagan commented on #30
@gvoelker Can you make sure that MOSI and MISO are hooked up correctly and not switched? Also, try editing the script above to just print out the `resp` to see why it's not giving an integer?

[2016-09-20 22:12] gvoelker commented on #30
I checked over the the right wiring an made sure tht MOSI and MISO are hooked up correctly. After editing and running the script, the result was \x00.

[2016-09-21 03:24] dhhagan commented on #30
@gvoelker What version of Python are you using?

[2016-09-22 10:41] gvoelker commented on #30
i am using Version 2.7.3

[2016-09-22 18:33] DancingQuanta commented on #30
@gvoelker can you pass `resp` to `type()` like this
[code]
to find out what it is.
I wonder whether it is a problem with spidev and python 2 or 3?

[2016-09-22 19:01] dhhagan commented on #30
It shouldn't be, but still worth a try! I've tested it on both 2.7 and 3.5
and it works great..

On Thu, Sep 22, 2016 at 2:34 PM Andrew Tolmie <notifications@github.com>
wrote:

--
Regards,

David H Hagan
PhD Student | Atmospheric Chemistry & Physics
Department of Civil & Environmental Engineering
Massachusetts Institute of Technology
Cambridge, MA 02139
707.227.6695 | dhagan@mit.edu | https://www

[2016-09-24 07:53] MarceloYung commented on #15
How can I write SPI-USB drivers for the original Alphasense code?

[2016-09-24 07:56] DancingQuanta commented on #15
What SPI-USB devices are you trying to use with alphasense?

On 24 Sep 2016 08:53, "MarceloYung" <notifications@github.com> wrote:

[2016-09-24 11:21] dhhagan commented on #15
@MarceloYung And what do you mean by the 'original Alphasense code"? The only software they offer is a windows-based GUI; is this what you're referring to?

[2016-09-24 12:51] MarceloYung commented on #15
I am using the py-opc library for an OPC-N2 sensor, and it doesn't work. And I am connecting the raspberry PI 2 and the OPC-N2 with a SPI-USB adapter. The connection doesn't start using the library.
I tried the sensor in Windows application (provided by Alphasense) and it worked correctly.
I was reading this page and you said that the OPC-N2 and that the library is written to communicate directly

[2016-09-24 13:19] DancingQuanta commented on #15
Ah, I wrote such a driver for that adapter, that adapter is called USB-ISS.
My driver is a python module at https://github.com/DancingQuanta/pyusbiss.
You have to download it and install using the instructions on my README.
Please open an issue over there if you have any issues.
I also have an example script that I will upload soon.

On 24 Sep 2016 13:51, "MarceloYung" <notifications@github.com> w

[2016-09-24 14:26] DancingQuanta commented on #15
@MarceloYung I have uploaded the example script here https://github.com/DancingQuanta/pyusbopc.
Please open an issue over there if you have any problems

[2016-09-24 16:49] MarceloYung commented on #15
Thanks very much, my project is working!!

[2016-09-24 17:05] DancingQuanta commented on #15
Fantastic

On 24 Sep 2016 17:49, "MarceloYung" <notifications@github.com> wrote:

[2016-10-19 12:56] gvoelker commented on #30
I am glad to tell you that almost everything is working fine at the moment. The soultion was to use two different PSUs. One for the Raspi and one for the OPC-N2. I don#t know exactly why that error occurs. One last question, even if it is of this topic: How can in Change the sampling rate and what does 'OPCN2' object has no attribute 'read_Histogram'.

[2016-10-19 13:41] dhhagan commented on #30
@gvoelker Great! Glad you got it working. To change the sampling rate, you simply sample at whatever rate you would like. Essentially, the histogram will continue to increment until you read the histogram again. So if you want a 1 Hz measurement, read the histogram every second. If you want 0.1 Hz data, read the histogram every 10 seconds. For reference, the Alphasense software by default samples

[2016-10-24 21:27] #30 closed

[2016-10-24 21:28] #6 closed

[2016-10-31 14:54] dhhagan opened #37 "Refactor Connection Errors"
Upon connecting, the firmware set function gives cryptic messages when it fails. Fix!

[2016-11-17 09:24] Jostar1024 opened #38 "connection on raspberry pi 2 failed."
I am using the Alphasense OPC-N2 on the raspberry pi 2, but it give me this Startup Error

how can I fix it ?

This is how the sensor is connected.
![dsc_0008](https://cloud.githubusercontent.com/assets/13313192/20383394/dda91f7e-acaf-11e6-9a2b-aa8992583e40.JPG)

[2016-11-17 14:40] dhhagan commented on #38
Hi @Jostar1024 : What version of the library are you using? What version of Python are you using? And which Pi is that? Looks like a Pi2?

Also, if you could draw out the wiring diagram, that would help. This error is almost always due to a bad connection, which can be hard to debug at times.

Do you have the USB-SPI connector by any chance?

[2016-11-17 14:41] dhhagan commented on #14
Hey @louisanb any update on this?

[2016-11-17 15:49] Jostar1024 commented on #38
Hi,
* Version of library : py-opc(1.1.0)
* Version of python : 2.7.9
* In fact I've tried at both Pi2 and Pi3. In the photo I connect the sensor with the Pi3.

If I fully understand the instruction, here is how I wire.
![123049408169900613](https://cloud.githubusercontent.com/assets/13313192/20395805/6835e7ec-ace4-11e6-8eeb-e3c428cea4b2.jpg)

I don't have the USB-SPI... Would you tell me how that

[2016-11-17 15:56] DancingQuanta commented on #38
Did you check the voltage level of each connection? Especially power. The
voltage levels at the GPIO pins should be near 0V or 3.3V.
Have you tried SPI loopback test?

On 17 Nov 2016 15:50, "Jostar1024" <notifications@github.com> wrote:

[2016-11-23 23:29] louisanb commented on #14
Hi David:

  I don't work there anymore and thank you very much for checking!

louis

________________________________
From: David H Hagan <notifications@github.com>
Sent: Thursday, November 17, 2016 7:41:12 AM
To: dhhagan/py-opc
Cc: louis an; Mention
Subject: Re: [dhhagan/py-opc] RPi connection failure - FirmwareError (#14)

Hey @louisanb<https://github.com/louisanb> any update on this?

-
You ar

[2016-11-23 23:41] #14 closed

[2016-11-24 11:03] Jostar1024 commented on #38
I've checked the voltage level.
CS0 3.3V the others are around 1V...
I am using a separate power(5V, 1000mA) for the sensor.
Yes I've tried the SPI loopback test, which give me the 00 00 00 ....

[2016-12-12 13:48] dhhagan opened #39 "Add sections to docs"
add a citation section with instructions as well as a F.A.Q. and common issues section

[2017-01-08 22:11] lionfish0 opened #40 "Connection to v18 from raspberry pi"
Hello,
Thanks for the library. I'm having some trouble connecting to the Alphasense OPC N2.

First I'd like to note that I've not connected a separate power supply to the device (I'm using the 5V pin on the raspberry, using a 1.5Amp 5V supply, however, I've measured the voltage while the device is running and it's at a steady 5.01V).

I ran spidev_test as recommended and got something that looks p

[2017-01-08 22:18] dhhagan commented on #40
Hey @lionfish0 . Have you hooked up the OPC-N2 via the GPIO pins? Or directly via the SPI-USB converter?

[2017-01-09 10:42] lionfish0 commented on #40
Sorry, I should have said - via the GPIO pins. I'll add more info this evening when I get home (e.g. I can't remember the pinouts etc). Thanks for your reply!

[2017-01-09 21:50] lionfish0 commented on #40
I think I've got something working.

First the pin outs:
[code]
I've altered the spidev_test program. It now just sends the 0x3F command, and outputs ASCII characters instead of the 8bit hex pairs:

[code]

So I'm able to read back the firmware version. I find it doesn't work at high clock speeds (over 60kHz). The delay (-d) seems unnecessary.

The first character (the black question mark symbol)

[2017-01-09 22:01] dhhagan commented on #40
@lionfish0 Ahh. Try plugging Pin 5 into GPIO pin 24 (CE0). You probably need a slave select pin! Have you already tried that?

[2017-01-09 22:19] lionfish0 commented on #40
Sorry, not sure if you saw my last comment. I've made more progress, think I've got it all working!

I basically ended up adding a couple of sleeps which seem to solve things. I'm not finding it necessarily 100% reliable, occasionally it says there's a transfer error, I'll investigate that in a sec, in the meantime, here's my code:

[code]

And the output:
[code]

Thanks again for your help! I'll

[2017-01-09 22:39] dhhagan commented on #40
Great to here! The sleeps are more or less how I usually operate it. There is rarely an instance where you don't need them. Once up and running, each time you call `histogram()` or `pm()` it will reset the histogram which shouldn't be done at more than 1Hz. The default setting with the Alphasense software is something like 1 sample every 1.4 seconds.

[2017-01-09 23:58] lionfish0 commented on #40
Ah, ok - I'll look into the sampling rate etc.

Got it hooked up to thingspeak now:
https://thingspeak.com/channels/212257/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=6000&type=line

We're going to buy a couple more and use them as part of a network of air quality monitors in Kampala (some of the monitors will be on motorbike taxis!).
Thanks!

[2017-01-10 03:11] dhhagan commented on #40
@lionfish0 Did you end up connecting the CS pin? Or did it work without? And that's awesome! Good luck!

[2017-01-10 10:09] lionfish0 commented on #40
I did connect up the CS pin. I think I had it connected a week ago, but had tried with the GND pin instead to see if CS wasn't working, if that makes sense? I switched back to using the CS pin on the pi again, but I don't know if that made a difference; I think it was the sleeps that did it.

[2017-01-11 13:12] dhhagan commented on #40
@lionfish0 Okay! I would be surprised and (very) confused if it worked without the CS pin. You could always check with a logic analyzer if you have one. I'm going to go ahead and close this though, since you were able to get it working..

[2017-01-11 13:12] #40 closed

[2017-01-18 16:41] agent2003 opened #41 "opc.exceptions.FirmwareVersionError"
Hi,

Similar issue to others with the firmware error. I'm using a devantec USB to SPI adapter wired correctly as the windows alphasense tool reports the below and reads the sensor. I therefore don't think its an SPI wiring issue.

Firmware version reported as 18.1 in the windows tool. I note that 18.2 has been tested and works ok.
Found USB-ISS Version 7
USBISS SerialNo = 00030397
Device interface

[2017-01-18 19:59] DancingQuanta commented on #41
Ah I am the author of pyusbiss and I need to add a warning about the startup of OPCN2 with pyusbiss.
In my experience, I get fireware error the first time after powering on the OPCN2 and I have to try two or three times before OPCN2 starts to communciate with me.

Can you repeat `alpha = opc.OPCN2(spi)` up to three times with a minute in the between please?

[2017-01-19 06:45] agent2003 commented on #41
Hi, good work! Thanks for your reply

I've got two OPC-N2 sensors. I've tried what you ask with both of them 5 times with a minute in between and get the same result. Both work fine with the windows tool and the adapter.

Interestingly, when I plug one in, the fan starts up automatically after a while, on the other it does not. I've tried polling it before the fan comes on and after, with the same

[2017-01-19 08:50] dhhagan commented on #41
@agent2003 That shouldn't change anything, although I wasn't aware they released publicly a v18.1!  From your traceback above, it looks like it's a simple byte encoding error associated with python3. Can you try running it with Python2 to see if you get the same error? I think I experienced this a while back but fixed it in the pyusbiss library. I sent a [pull request] a while back. @DancingQuanta

[2017-01-19 22:27] agent2003 commented on #41
Thanks for your reply. It worked! I changed the python version to 2.7.9, installed the packages again and now it works (after the second try of alpha = opc.OPCN2(spi)). In case it helps anybody, there is a good guide to changing python version here: [https://linuxconfig.org/how-to-change-from-default-to-alternative-python-version-on-debian-linux](url)

Results below:

pi@raspberrypi:~ $ python
Pyt

[2017-01-20 08:36] DancingQuanta commented on #41
Sorry forgot about that pull request will try to merge today.

[2017-01-20 08:51] DancingQuanta commented on #41
Merged the [pull request](https://github.com/DancingQuanta/pyusbiss/pull/2).
@agent2003 could you please try out new `pyusbiss` HEAD with python 3?

[2017-01-20 09:42] agent2003 commented on #41
Yeah sure, I will try it this weekend.

[2017-01-20 18:47] #41 closed

[2017-02-21 19:42] patricktokeeffe commented on #38
I see you are separately powering the OPC using a 5V/1A adapter. In my experience, even slight voltage offsets between OPC ground and RPi ground will result in garbled SPI communications. Try powering the OPC directly from the GPIO rail (5V/G) and ensure you have a quality power adapter (5V @ 1.5 to 2A).

[2017-05-26 01:23] beleme opened #43 "Problems installing py-opc"
I  have a problem because when i write the comand pip install py-opc  I get this error

error: could not create úsr/local/lib/python2.7/dist-packages/opc´: Permission denied

how can I solve it?

[2017-05-26 02:03] dhhagan commented on #43
@beleme Sounds like you are having a permissions problem.
Try `sudo pip install py-opc`

[2017-05-26 02:10] beleme commented on #43
thanks!! @dhhagan

problem solved
 why I have that type of problem ?
how can I solve it so that it does not happen again?

[2017-05-26 12:52] dhhagan commented on #43
@beleme It has to do with how you've set your permissions. Google will provide a much better answer than I can..

[2017-05-26 12:52] #43 closed

[2017-06-02 15:48] beleme opened #44 "connection error"
Why do I get this type of error?

Startup Error: 'module' object has no attribute 'OPCN2'

[2017-06-02 17:43] dhhagan commented on #44
@beleme

What does your code look like?

[2017-06-02 18:10] beleme commented on #44
I was able to solve that problem last but now I have this problem

this is my code:

import spidev
import opc

spi = spidev.SpiDev()
spi.open(0, 0)
spi.mode = 1
spi.max_speed_hz = 500000

try:
    alpha = opc.OPCN2(spi)
except Exception as e:
    print ("Startup Error: {}".format(e))
else:
    alpha.on()
    print alpha.histogram()
    alpha.off()

and I get:

pi@raspberrypi:~ $ python uno.py
Star

[2017-06-02 18:11] beleme commented on #44
@dhhagan

[2017-06-02 20:38] beleme commented on #38
@Jostar1024  hello
how can you solved this problem?

[2017-06-02 20:42] beleme commented on #40
@lionfish0 hello
I have equal this problem
how can you solved this problem?

please help

[2017-06-05 18:36] beleme commented on #44
hello @dhhagan  you can helpme with my problem?

[2017-06-05 18:38] dhhagan commented on #44
@beleme Have you checked the details on the other issue? The most likely cause is a power issue. It's really hard for me to debug it from afar without knowing exactly how you have it wired, what PSU you are using, etc. Can you tell me more about your setup?

[2017-06-05 20:03] beleme commented on #44
@dhhagan  ok thanks!

I am connected as is in the py-opc documentation

![opcn2](https://cloud.githubusercontent.com/assets/28653842/26800630/9c8c804c-49ff-11e7-839d-5c69a9259dc9.PNG)
as is in the picture

[2017-06-05 20:22] dhhagan commented on #44
@beleme It looks like you're trying to power the OPC-N2 through the GPIO 5V Pin of the RPi..? I don't think that will provide enough current (needs >250 mA); does the OPC-N2 fan ever start?

[2017-06-05 20:40] beleme commented on #44
@dhhagan  Yes i am connected the opc with the 5V of the RPi but the fan turns on with that voltage.

The firmware version of OPC-N2 is 18
The version of python is 2.7

[2017-06-05 20:53] dhhagan commented on #44
Unless you have access to a Logic Analyzer, I would probably focus on trying to get a better voltage source. As mentioned in the docs, you should have a single power source that powers both the Pi and the OPC (not through the GPIO pins).

[2017-06-06 15:47] beleme commented on #44
@dhhagan  ok

have i to connect the power of the Pi with the micro-usb? or with the port usb?

[2017-06-06 20:37] dhhagan commented on #44
@beleme It shouldn't matter, but I have used to microUSB

[2017-06-06 20:37] beleme commented on #44
@dhhagan @DancingQuanta
I already connected the OPC and the Pi with power supply and it still gives the same problem. The power supply have 5V and 2A.

How can i solve it?

[2017-06-06 21:32] dhhagan commented on #44
Can you please attach an image or diagram?

[2017-06-07 15:12] beleme commented on #44
@dhhagan

![1](https://user-images.githubusercontent.com/28653842/26885946-a66e91f2-4b69-11e7-945c-dd5ae79079eb.jpeg)
![2](https://user-images.githubusercontent.com/28653842/26885942-a48022fc-4b69-11e7-8b80-ebe6b8eb5601.jpeg)

[2017-06-07 15:20] dhhagan commented on #44
@beleme  Ahh. I didn't realize you were using the breakout from the SPI-USB converter. Although it's hard to tell from the image, I imagine there is a mixed up pin; the SPI-USB converter Alphasense sells is not ordered (i.e. the pin ordering on the micro-clasp side is different than the larger Molex connector). I would follow those back carefully to make sure they are correctly ordered.

The other

[2017-06-07 16:02] beleme commented on #44
already i checked, and unfortunately i committed a mistake in the connection with the terminals of OPC  but now i have this error

Startup Error: Your firmware is not yet supported. Only versions 14-18 are currently supported.

my OPC-N2 have a firmware version  is 18

[2017-06-07 16:03] beleme commented on #44
@dhhagan already I checked, and unfortunately I committed a mistake in the connection with the terminals of OPC  but now I have this error

Startup Error: Your firmware is not yet supported. Only versions 14-18 are currently supported.

my OPC have a firmware version 18

[2017-06-07 16:45] dhhagan commented on #44
@beleme Okay. Your firmware version probably has a minor version as well. Can you let me know what that is?

[2017-06-07 17:24] beleme commented on #44
@dhhagan    I keep on with the same problem, I will try with the usb converter

[2017-06-08 08:58] JananiVJ commented on #44
@beleme
Try this code from @lionfish0 for start up.
import spidev
import opc
from time import sleep
# Open a SPI connection on CE0
spi = spidev.SpiDev()
spi.open(0, 0)

# Set the SPI mode and clock speed
spi.mode = 0b01
spi.max_speed_hz = 10000

#get it used to sending things!
to_send = [0x3F]
spi.xfer(to_send);

#wait a bit.
sleep(1.0)
try:
    alpha = opc.OPCN2(spi)
except Exception as e:
    pr

[2017-06-08 09:03] JananiVJ opened #45 "continuous operation"
Hello dhhagen
Thank you for the documentations and library.
I am completely new to this and would like to know if anyone managed to get a continuous data output from the OPC.N2 at regular time intervals.
Thank you.

[2017-06-08 11:06] dhhagan commented on #45
Hey @JananiVJ Yup. I ran 10 of them for 6 months continuously..just make sure your sampling interval >= 1.2 s otherwise it doesn't behave very well.

[2017-06-08 12:43] JananiVJ commented on #45
When I run the program, the OPC starts and runs continuously. And I get an output in the terminal which looks something like this:

pi@PC-17-0302:~/Documents/examples/opcn2 $ python py-opc.py
Alphasense OPC-N2v18.2
True
{'Temperature': None, 'Bin 10': 0.0, 'SFR': 3.700000047683716, 'Bin 12': 0.0, 'Bin 13': 0.0, 'Bin 14': 0.0, 'Bin 15': 0.0, 'PM2.5': 0.0, 'Bin1 MToF': 0.0, 'Pressure': None, 'Bin 11

[2017-06-08 12:51] dhhagan commented on #45
@JananiVJ It looks like your sampling period is a bit over 2.5 seconds; is that correct? Where are you operating the device?

[2017-06-08 14:12] JananiVJ commented on #45
right now for testing, inside a room. In the future I will install these devices in a fixed sites (outdoor). I will also use them in mobile measurements on vehicles and tethered balloons.

[2017-06-08 18:16] DancingQuanta commented on #45
Could you show your script that runs the OPC?

[2017-06-20 21:22] semajoel commented on #44
@JananiVJ  Am new to working with the pie, I have. A pie zero, have setup all correct , have written the code but I get error "Missing parentheses in call to print"

[2017-06-20 22:06] semajoel commented on #44
@JananiVJ  Am new to the pi, I have all setup including the above code, I get importEr: No module named opc.
How can I install this module?

[2017-06-20 22:09] dhhagan commented on #44
@semajoel That means you haven't installed the py-opc library. If you go to your terminal and type `pip list`, is opc vx.x listed?

[2017-06-21 06:53] semajoel commented on #44
@dhhagan i have this listed "py-opc (1.3.0)"

[2017-06-21 12:16] DancingQuanta commented on #44
@semajoel missing parentheses could mean that you are using Python 3 not Python 2

[2017-06-21 13:36] dhhagan commented on #44
@semajoel Interesting. Could you post your code along with the version of python you are using?

[2017-06-21 19:38] semajoel commented on #44
@dhhagan and the rest, I appreciate your efforts,  i figured something errors out, now I have another
spi.open(0,0)
IOError: no such file or directory

[2017-06-21 20:45] DancingQuanta commented on #44
What is the traceback?

[2017-06-21 21:03] semajoel commented on #44
Yes, have enabled SPI in pi configuration, every seems fine for now. I can read from the histogram. I have pm data. Thanks a million.

[2017-06-22 08:11] JananiVJ commented on #44
@DancingQuanta I am using Python 3. and it works for me.

[2017-06-22 08:13] JananiVJ commented on #44
@dhhagan do you have experience working with any other alphasense sensors? the Nitrogen and ozone sensors to be specific.

[2017-06-22 11:25] dhhagan commented on #44
@JananiVJ I do, yes. You can email me at dhagan@mit.edu for more details/conversation on that topic.

[2017-06-27 10:46] JananiVJ commented on #45
@DancingQuanta : This is the script that I use to run the OPC

# Import the OPCN2 module.
import spidev
import opc
from time import sleep

# Open a SPI connection on CE0
spi = spidev.SpiDev()
spi.open(0, 0)

# Set the SPI mode and clock speed
spi.mode = 0b01
spi.max_speed_hz = 10000

# Send OPc data to SPI interface
to_send = [0x3F]
spi.xfer(to_send);

#wait a bit.
sleep(1.0)

# Print PM (OPC-N2)

[2017-06-27 10:49] #45 closed

[2017-06-28 18:53] jared711 opened #46 "Non-integer Bin Values"
I've been using the OPC-N2 with a Raspberry Pi 2 Model B. I have purchased a SPI-USB converter as shown in the attached images. The silver USB cable goes to the OPC, and the other USB connections are a keyboard and mouse, and there are several connections from the pins to CO, CO2, NO, and NO2 sensors.
![opc with usb-spi converter](https://user-images.githubusercontent.com/25643720/27654208-bcd4260

[2017-06-28 18:59] jared711 commented on #46
Here's the code I'm using

#!/usr/bin/env python3
#Originally from D.H.Hagan https://github.com/dhhagan
#Changes made by Jared Blanchard jaredb711@gmail.com

#Importing necessary packages
import usbiss
import opc
import argparse
import sys
import os
import time
import csv
import datetime
import serial

#Initiating the OPCN2
try:
    # Open an SPI connection
    spi = usbiss.USBISS("/dev/ttyACM0",

[2017-06-28 19:25] dhhagan commented on #46
Hey @jared711 great questions! If you are using a recent version of the library (I think you are) then the histogram reports numbers in number concentration (#/cc) as mentioned in the [docs][1]. If you want to get the raw histogram values, you can add the argumenent `number_concentration=False`.

So, for raw values:

    alpha.histogram(number_concentration=False)

For values in actual number conc

[2017-06-28 19:26] dhhagan opened #47 "Allow users to set firmware version manually"
It appears many are encountering issues trying to read the firmware version automatically...should add an easy way to do this manually.

[2017-06-30 16:02] jeffisfast opened #48 "list index out of range"
Thanks for this library.  Trying to use it with a brand new OPC-N2 that I just received and here is what I'm getting:

#python3 pm.py
The module ID is 7
The current operating mode is 0x40
The serial number is b'0034628'
Initializing USB-ISS in SPI mode with 146 spi-mode and 11 sck_divisor
Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/py_opc-1.3.0-py.3.4.egg/opc/

[2017-06-30 16:07] dhhagan commented on #48
Hi @jeffisfast . That's interesting...do you know what firmware version your OPC is using? I'm not sure if Alphasense has released something since v18.2 or not..?

[2017-06-30 17:05] jeffisfast commented on #48
Hi @dhhagan Sorry, but I left out the line that says "The firmware version ix 0x7".  Does that help?

[2017-06-30 17:10] dhhagan commented on #48
Hmm. Not particularly. That means it is having a hard time reading the firmware version from the OPC. How have you hooked up the sensor? Via GPIO pins on the Pi? Or through a SPI-USB converter?

[2017-06-30 17:13] jeffisfast commented on #48
It is hooked up using the SPI-USB converter that came with the sensor.  Is there a way for me to talk directly to the USB port to query it?

[2017-06-30 17:17] dhhagan commented on #48
Okay. So you are using USB-ISS as outlined [here](http://py-opc.readthedocs.io/en/latest/#using-the-pyusbiss-library-via-usb-port)?

[2017-06-30 17:20] jeffisfast commented on #48
I just copied your code and here is the output when it runs, if this helps?

The module ID is 7
The firmware version is 0x7
The current operating mode is 0x92
The serial number is b'00034628'
Initializing USB-ISS in SPI mode with 146 spi_mode and 11 sck_divisor
/usr/local/lib/python3.4/dist-packages/py_opc-1.3.0-py3.4.egg/opc/__init__.py:524: UserWarning: Data transfer was incomplete.
Traceback (m

[2017-06-30 17:24] jeffisfast commented on #48
Just as a follow up -- I switched power supplies to the sensor and now have gotten slightly further.  I've got a 5V DC power supply connected directly to the sensor, and then using their SPI-USB adapter to connect to the Raspberry Pi.  Here's the output from the code:

$ python3 pm.py
The module ID is 7
The firmware version is 0x7
The current operating mode is 0x92
The serial number is b'00034628'

[2017-06-30 17:35] dhhagan commented on #48
Okay. So first things first. Are you sure that it is connecting to the correct serial port? It looks like you are using what was in the example code, which was what my Pi was connected to. It may or may not be the same for you. You can issue the command `ls /dev/tty*` to get a list of all connected devices.

[2017-06-30 20:08] jeffisfast commented on #48
I'm pretty sure it is on /dev/ttyACM0 as that device only appears while the sensor is plugged in. Any tips for how I can manually try communicating with the port to issue commands?

[2017-06-30 20:26] jeffisfast commented on #48
I tried using alpha = opc.OPC(spi) instead of OPC2 and am getting some communications:

'OPC-N2 FirmwareVer=OPC-018.2..............................BD'

It also seems that if I run things from the python3 interpreter they work, but running the script doesn't.  Will investigate further.

[2017-06-30 20:29] dhhagan commented on #48
Hmm. Maybe there is a permissions problem? Or try adding some time delays between statements?

[2017-06-30 21:32] jeffisfast commented on #48
It was a timing problem.  Throttling all the commands fixed everything.  Thanks for all the quick help!

[2017-06-30 21:32] #48 closed

[2017-07-03 22:31] dhhagan commented on #47
An implementation has been pushed to the dev branch if anyone is interested in trying it out.

[2017-07-03 22:32] dhhagan commented on #46
Hey @jared711 Did this solution work for you?

[2017-07-03 22:50] #47 closed

[2017-07-03 22:51] dhhagan commented on #44
@semajoel So can you confirm what the error was? I'd like to add it to a FAQ since many people have had similar issues.

[2017-07-03 22:52] dhhagan commented on #38
@Jostar1024 Did you ever solve this issue?

[2017-07-04 02:29] semajoel commented on #44
@dhhagan SPI was not enabled in the configuration of the PI.

[2017-07-04 05:08] jared711 commented on #46
Yes, it worked great for me! Thanks for the quick response last week.

Thanks,

Jared Blanchard

On Mon, Jul 3, 2017 at 4:32 PM, David H Hagan <notifications@github.com>
wrote:

[2017-07-04 08:28] Jostar1024 commented on #38
I didn't really solve the issue and I used the USB port instead. The time and resources were limited and I'm not working on it anymore.

[2017-07-04 08:28] #38 closed

[2017-07-04 12:02] #46 closed

[2017-07-04 12:02] #44 closed

[2017-12-02 23:57] dhhagan opened #50 "Create page for mentions/citations"
Allow people/orgs using the code to list themselves (if desired) so we can see who all is using this codebase!

[2017-12-03 10:21] DancingQuanta commented on #50
I have used this py-opc library for my summer placement at University of Leeds at Earth and Environment dept. I was studying the difference between customer-grade, industry-grade and scientific-grade aerosol sensors where an alphasense-N2 was evaluated.

[2017-12-03 17:56] dhhagan commented on #50
Hey @DancingQuanta, thanks for the update! I am considering submitting this repository to the Journal of Open Source Software, which means I would be listing you as a co-author since you are a contributor. Is that okay? If so, could you send me an email at dhagan@mit.edu with your most up-to-date affiliation/university/employer?

[2018-01-06 01:44] DonnaVakalis opened #51 "AttributeError: 'OPC' object has no attribute 'on'"
Hi,

I am using python 3.5 and OPC firmware 18.2 on an Rpi3.

I am getting the following error when I hit the line alpha.on():
AttributeError: 'OPC' object has no attribute 'on'

Can you help me see where I'm going wrong? I suspect I may be making a "newby" mistake as I am indeed a newby :) Thanks!

/// ///////// Here is the entire terminal output (and following below is my script): /////////  ///

[2018-01-06 09:03] DancingQuanta commented on #51
You are almost there!
Please use the following line
[code]
instead of
[code]
Is there a reason why you commented out the line?
[code]
The class `OPC` is a base class and so is unusble.
You need to use `OPCN2` if you are using OPC-N2 or `OPCN1` if you are using OPC-N1 model.

@dhhagan: Would it be more helpful if the base class `OPC` be renamed to `_OPC`?

[2018-01-06 12:55] DonnaVakalis commented on #51
Thank you @DancingQuanta for the fix and the encouragement. Much appreciated. That did it. To answer your question, the commented out line didn't work for me (firmware error messages); but as I edited the code I left it in place as a reminder to self of the instructions version of the code.  And I copied the line "alpha = opc.OPC(spi, firmware=(18,2))" from the /dev branch to set the firmware manu

[2018-01-06 13:40] DancingQuanta commented on #51
I love to help! Especially Alphasense is a bit fiddlely.

Your latest error sounds like the library was expecting something but got nothing. So clearly there is no check for NoneType or gives no feedback on what went wrong in histogram function.

If you are stuck, let us know! If you found a solution, do write about it here so someone may benefit from it!
Also your original issue is solved so plea

[2018-01-06 15:22] #51 closed

[2018-01-06 16:54] dhhagan commented on #51
@DancingQuanta  That sounds great. You want to do it and send a PR? If not, I can do it in the near future.

Hi @DonnaVakalis: Welcome to py-opc! It looks like @DancingQuanta sent you on the right path. The only way a `None` can be sent back is if the [data transfer was incomplete](https://github.com/dhhagan/py-opc/blob/master/opc/__init__.py#L542). Let me know if this still bugs you and one of us

[2018-01-07 16:43] DonnaVakalis commented on #51
Thank you both @dhhagan and @DancingQuanta.

My short term goal for using py-opc is to add a time stamp to the OPC-N2 readings, and to upload the timestamped readings online (to save having to wait between site visits to collect data on as-of-now hypothetical deployments).

My broader goal is to build my capacity for working with sensors so that I can (eventually) contribute to the community of in

[2018-01-07 17:15] DancingQuanta commented on #51
Can I suggest [AirPi](https://github.com/tomhartley/AirPi) which use a Raspberry Pi to aggregate data from a number of sensors. I have made a fork of `AirPi` to allow for multiple serial devices including Alphasense OPCN2 via USBISS. I think I forgot to upload this fork online in a year or two....

[2018-01-07 17:36] DonnaVakalis commented on #51
Thank you! I will check it out today.
I am looking at the script run_opcn2_usbiss.py and finding it to be a really helpful examples.  I am really really grateful to have this example available to study, because for a newby like me it allows me to sift through how you approach things and learn incrementally by copying/tweaking...

Here are some things I noticed in the code, but I'm not sure about m

[2018-01-07 17:55] DancingQuanta commented on #51
Few friendly suggestions:

- Headings, please put in a space between # and string, like this `# Aside`. Github will make this string into a heading which is slightly bigger and bolder like this

# Aside

- Code: please put triple backticks \`\`\` either side of a code block (which also is used to show verbatim text of messages, errors, warnings and tracebacks. This helps to distinguish between you

[2018-01-19 04:48] dhhagan opened #52 "Prepare for submission to JOSS"
## paper.md

- [x] A list of the authors of the software and their affiliations
- [x] A summary describing the high-level functionality and purpose of the software for a diverse, non-specialist audience
- [x] A clear statement of need that illustrates the purpose of the software
- [x] A list of key references including a link to the software archive
- [x] Mentions (if applicable) of any ongoing re

[2018-01-19 06:41] #39 closed

[2018-01-19 06:58] #50 closed

[2018-01-19 06:58] #52 closed

[2018-01-19 15:48] H60gh commented on #41
I connect a PM2.5 sensor into Reaspberry pi using SPI. I have followed the example in Python 3.4.2, but it seems "alpha" variable does not work and alpha.ping() returns "False". As I test, spidev works well.
I have switched into Python 2.7.9 ("alpha = opc.OPCN2(spi)" is modified to "alpha = opc.OPC(spi))" and now alpha is unknown variable.
How can I  solve this problem?

[2018-01-19 15:53] H60gh opened #55 "How to connect to PM2.5 SPI version?"
I connect a PM2.5 sensor into Reaspberry pi using SPI. Then I follow the example in Python 3.4.2, but it seems "alpha/alphasense" variable does not work well and alpha.ping() returns "False". As I test, spidev works well.
I switch into Python 2.7.9 ("alpha = opc.OPCN2(spi)" is modified to "alpha = opc.OPC(spi))" and now alpha is an unknown variable.
How can I solve this problem?

I should mentione

[2018-01-19 16:16] dhhagan commented on #55
Hi there @H60gh,

If `alpha.ping()` is returning `False`, then the device is connected properly, but is not returning the correct value when the SPI command is sent. Have you tried any other commands? With Python2.7, try using the `OPCN2` class rather than the `OPC` class. Also, which version of the library are you using?

[2018-01-19 16:43] H60gh commented on #55
Hi @dhhagan
I have same problem in Pytho 2.7 (Warning: Data Transfer was incomplete). Also I test other commands likes "read_info_string", only blank lines are printed!

My using libraries are:
py-opc  (1.4.1)
spidev (3.0)

[2018-01-19 16:47] H60gh commented on #55
In addition, I am using GPIO pins.

[2018-01-19 16:55] H60gh commented on #55
Ok. I add one minute sleep and it works. But how can I interpret return values and finally return pm1, pm2.5 and pm10 values?

[2018-01-19 17:11] dhhagan commented on #55
Hmm. Have you tried multiple readings? How are you wiring up the device? Can you post an image or wiring diagram?

[2018-01-19 17:16] H60gh commented on #55
Thank you Hagan. After multiple reading, I receive PM1, PM2.5 and PM10 values. May I ask another question? Temperature and Pressure values are still zero. Why?

[2018-01-19 17:18] #55 closed

[2018-01-19 17:18] dhhagan commented on #55
No problem. Depending on the unit you purchased, it may not physically be installed. I think Alphasense stopped adding them a couple of years ago unless you special order it (not sure why...). I add an external RHT sensor (SHT31 by Sensirion).

[2018-02-11 15:35] H60gh opened #56 "Frimware version could not be automatically detected!!!"
Hi everybody
A few weeks ago, I had run PM2.5 sensor on Raspberry Pi and it worked fine. Today I checked it again, but it does not work! I receive following error message: "Your frimware version could not be automatically detected. This is usually caused by bad wiring or a poor power supply. If niether of these are likely candidated open an issue on the github ...". I checked the power connections

[2018-02-11 15:50] H60gh commented on #56
I have put "alpha=opc.OPCN2(spi) in a while loop as follows (to remove the previously mentioned startup error in working by PM2.5 sensor):

while True:
    try:
         alpha = opc.OPCN2(spi)
         break
   except Exception as e:
        print ("Error:{}".format(e))

but it still does not work. As I checked, alpha.histogram() does not return related items.

[2018-02-11 16:30] DancingQuanta commented on #56
- Can you explain how do you connect your sensor to the Raspberry Pi?
- What kind of update OS procedure did you use?
- What version of the python are you using? Have the OS update touched python?

[2018-02-11 16:35] H60gh commented on #56
I connect my sensor using GPIO based on pin assignment in
http://py-opc.readthedocs.io/en/latest/

Nothing changes during the time (the sensor worked well a few weeks ago).

Today I have update the OS using simple update command in terminal.
and finally I use python 3.4 (same as before).

[2018-02-11 16:57] DancingQuanta commented on #56
Maybe the OS update modified GPIO interface somehow, what is the update command did you use?
Did you do usual unplug and replug, power off and on?

[2018-02-11 17:14] H60gh commented on #56
For BME280, I had to install Adafruit package I part of this was about installing GPIO frimware as follows:
[code]
Is it possible that these installations made changes in my PM2.5 driver?

[2018-02-11 17:37] DancingQuanta commented on #56
Maybe.
I need to know more about how you setup your Raspberry Pi hardware-wise. In other words, did you connect BME280 to GPIOs as the same time as alphasense?

[2018-02-11 17:48] H60gh commented on #56
Yes. I use a prototyping P1 extension board connected on top of my Raspberry pi board. My alphasense sensor uses "GND, 5.0v,MOSI,MISO,CLK and CS0" pins and BME280 uses "SDA,SCL,3.3v and GND" pins on the extension board. This boards only uses first 26 pins of standard GPIO pins of Raspberry pi 3.

[2018-02-11 19:29] H60gh commented on #56
Yes, at the same time, BME280 was attached to the extension board, but it did not work. Today I used BME280 using Adafruit and after that I saw that Alphasense did not work.

[2018-02-11 19:38] DancingQuanta commented on #56
I am sorry but I did not understand your first sentence, due to many commas there. What I wanted to know are the hardware changes between your alphasense working to not working.
For example, did your alphasense work when connected directly to GPIOs without extension board?

[2018-02-11 19:46] H60gh commented on #56
The hardware did not change. BME280 was attached to the board, but I did not setting up it. Today I set it up and after that Alphasense did not work!

[2018-02-11 21:50] DancingQuanta commented on #56
Okay, your recent software changes may have messed things a bit up for you.
@dhhagan should know more about GPIOs than I do, let wait for him to pop by.

[2018-02-11 22:05] H60gh commented on #56
It is interesting that I turned off the Raspberry pi and after a while I turned it on again. Then I test the alphasense in Python terminal, it worked well. After that, I added one second sleep time before reading alpasens.histgram() and now my code run perfectly!!!

It seems Raspberry Pi has some performance problems and it could not act well in all situations.

Thank you @DancingQuanta for your k

[2018-02-11 22:06] dhhagan commented on #56
Hey @H60gh have you tried setting the firmware version manually to see if that is the only call that has an issue? If that doesn't work, could you provide the entire code snippet you're using (for ex., what is `spi`?) as well as a simple wiring diagram? I have seen several people run into issues when there is not enough current to drive the OPC-N2, which would happen if using the 5V GPIO pin rathe

[2018-02-11 22:07] dhhagan commented on #56
Ahh, yea I've seen people also experience that. Could you open a new issue that suggests adding that note to the documentation? It may help others in the future. I'm not sure of the root cause, but I assume it has something to do with the i2c timing/i.e. not letting the fall complete before the next rise.

[2018-02-11 22:11] H60gh commented on #56
Hi @dhhagan
Thanks for the reply. Ok, I'll open a new issue.

[2018-02-11 22:26] H60gh opened #57 "Add a one second sleep time before reading Alphasense values in Raspberry pi"
Hi
As I experienced, Raspberry pi has some problems during reading data from Alphasense sensor. If you manually test a connected sensor using terminal and see that alphasense.ping() returns a value, but running your code returns a reading error, firstly check your wiring, After that just simply add one second delay (using sleep command) before calling alphasense.histogram() function. As an example

[2018-02-11 22:30] #56 closed

[2018-02-11 22:30] #57 closed

[2018-02-24 19:20] DancingQuanta opened #58 "Update USB-ISS SPI mode"
Hi, I decided to change the schema for SPI modes in pyusbiss.
USB-ISS sets the SPI modes through a number in the following table

| USB-ISS command | SPI mode |
|----------------------|------------|
| 0                             | 0               |
| 1                             | 2               |
| 2                             | 1               |
| 3                             | 3

[2018-03-04 16:06] DancingQuanta commented on #58
I think I should do a pull request anyway.

[2018-03-04 22:47] dhhagan commented on #58
Hey @DancingQuanta Please do send a PR! I will do my best to review/approve and test tomorrow. I've dropped off the map a little bit recently, but will get it done quick this week.

[2018-03-07 16:36] Ny4nmaru opened #59 "SPI mode must be 1"
Hi, i have a problem with using this library. i import opc and usbiss successfully, i even create a spi object as written in documentation, but i have problem with "alpha".

when i write opc.OPCN2(spi), it returns error "assert self.cnxn.mode ==1 "SPI mode must be 1"

i am using python 3.5.3, running OPC-N2 via SPI-USB adapter that was supplied with the device. Trying to run it on Raspberry Pi 3 m

[2018-03-07 17:30] dhhagan commented on #59
Hey @Ny4nmaru, thanks for reaching out. Could you post the exact code you are using to setup the SPI connection? Could you also post the versions of py-opc and pyusbiss that you have installed? You can grab those by issuing the command `pip freeze` at the terminal.

[2018-03-07 18:07] DancingQuanta commented on #59
Hi,, I am the author of pyusbiss library. The library has been suffering from my lack of care with releases. As such the documentation I gave to David about pyusbiss is out of date.

Please give me a few days while I get the library under proper versioning and release a stable version then I will update the documentation. In the meantime try the following code
[code]
Please note that the correct c

[2018-03-08 05:36] Zanati123 opened #60 "Trouble in establishing communication"
Dear David,
I am a 3rd year university student doing a small project requiring to interface the alphasense sensor with RPi. I am having difficulties to establish communication and was hoping you can help me to solve the issue and/or guide me through the process.

A brief summary of the steps taken so far:
-	Installed Raspbian on RPI
-	Downloaded zips py-opc and pyusbiss to /home/pi
-	Unzipped it a

[2018-03-08 08:28] DancingQuanta commented on #60
Hi. I am the author of `pyusbiss`. I made a patch with `if` mistake. Please can you test it?
Also I will update the documentation in py-opc about new changes to pyusbiss.
Please change
```spi_mode = 2```
to
```spi_mode = 1```

[2018-03-08 14:54] dhhagan commented on #59
Huh. That is strange. Have you had any more issues, or has it been cooperating?

[2018-03-08 20:28] Ny4nmaru commented on #59
Well, i downloaded both needed libraries again, and i found out, that the "SPI mode must be 1" row is deleted in the fully functional library. nothing else is different. And what is really weird is that i dont remember deleting it. But whatever :D its funny, but without that row its working like a charm. OPC-N2 was with few pauses measuring for 12h, without any problem.

[2018-03-08 20:29] Ny4nmaru commented on #59
I guess that sometimes science is more art than science

[2018-03-08 20:38] DancingQuanta commented on #59
I have been working hard behind the scenes. :). If everything works for you then you can close this issue.
Also I am releasing a minor update soon that changes the interface which will allow more development into other capacities of the USB-SPI adapter.

[2018-03-12 19:24] DancingQuanta commented on #60
Hello, I have released a new version of `pyusbiss` 0.2.0 which you can install via `pip install pyusbiss`. This version is a major revision and so I have updated the instructions in https://github.com/dhhagan/py-opc/pull/61.

[2018-03-12 19:25] #58 closed

[2018-03-12 19:26] DancingQuanta commented on #59
Hello, I have released a new version of `pyusbiss` 0.2.0 which you can install via `pip install pyusbiss`. This version is a major revision and so I have updated the instructions in https://github.com/dhhagan/py-opc/pull/61.

[2018-04-12 00:47] krkol opened #63 "USB connection not working"
I am trying to connect an OPCN2 to a Raspberry pi 3 using the USB-SPI connection. I've checked that the connection is in ACM0, the OPC has firmware version 18, and I've downloaded the pyusbiss version 0.2.0. I think that the problem might be related to the libraries running on python 2.7, but I have python 3.4.2 installed and all of the text files for the program that I open have (3.4.2) after the

[2018-04-12 06:34] DancingQuanta commented on #63
Did you install pyusbiss via pip?
Pyusbiss currently works for python 3 not 2.7 at the moment.
Do you have python 3?

On Thu, 12 Apr 2018, 02:22 David H Hagan, <notifications@github.com> wrote:

[2018-04-12 14:33] DancingQuanta commented on #60
Have you made any progress?

[2018-04-12 17:39] krkol commented on #63
Hi @dhhagan, Thank you for the help! We are using version 1.5.0 of py-opc. And then we are using version 0.2.0 of pyusbiss. I got everything to run through python 3 and it's giving the same errors. I can hear the alphasense fan running, so I know it has power. I installed everything with pip3. The raspberry pi has both python 2.7 and python 3.4 installed. I am using the code pasted below:
from usb

[2018-04-12 18:27] DancingQuanta commented on #63
Please post the traceback when you run the code through python 3.

[2018-04-13 00:00] krkol commented on #63
The error message that I get is either:
/usr/local/lib/python3.4/dist-packages/opc/__init__.py:522: UserWarning: Data transfer was incomplete.
  warnings.warn("Data transfer was incomplete.")

or
Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/opc/__init__.py", line 55, in __init__
    self.firmware['version']    = int(re.findall("\d{3}", self.read_info_string())[

[2018-04-13 06:50] DancingQuanta commented on #63
@dhhagan In parsing the version of firmware I think it would be more useful to execute `read_info_string()` function and store output in a variable before parsing it rather than all in one liner. This way we can check if output of `read_info_string()` is valid.

[2018-04-13 12:32] dhhagan commented on #63
@DancingQuanta That's a great idea, in addition, maybe add a `debug` arg/kwarg that prints debugging info to the console. Do you want to take a stab at it and send a PR? If not, I can do it next week probably.

[2018-04-13 13:45] DancingQuanta commented on #63
I do not have Alphasense's version of USB-ISS where they packaged the USB-ISS in a compact case with a wire with a small connector. @dhhagan do you have such packaged USB-ISS? If you do, can you figure out how to do a SPI loopback test on it?

[2018-04-16 04:37] Zanati123 commented on #60
Hi DancingQuanta,

Yes with your new release of pyusbiss 0.2.0, communication was achieved to the OPC sensor. spi_mode = 1 and setting the firmware to 18.2 made it work.

[code]

[2018-04-16 16:42] krkol commented on #63
I tried using another wrapper that I found written by @dhhagen that is available here: https://www.snip2code.com/Snippet/553675/Run-Alphasense-OPC-N2. There were a few things to edit in the code to match the newest version of all of the libraries. This worked much better. The problem seemed to be that the connection would sometimes happen, but sometimes not. When an error gets thrown, there needs

[2018-04-16 17:58] dhhagan commented on #63
You can fairly easily unscrew the cover of the Alphasense USB-ISS converter and test it that way - but it sounds like @krkol got it to work eventually (confirm?). I like all of these suggestions and will implement them ASAP (maybe later this week). @krkol I typically write my firmware in that way (trying several times to ensure the connection is good), but I could add a `max_retries` argument that

[2018-04-16 19:47] DancingQuanta commented on #63
Does this connection problem occurs more with USB than with direct SPI? I do remember that @dhhagan added a `sleep()` to deal with this issue earlier.
If the issue is unique to USB then we need to understand what is happening there. I thought maybe timing mismatch or something else.

[2018-04-17 01:27] #60 closed

[2018-04-17 16:05] teokino commented on #63
Hello! I have the same issue as @krkol. Happens almost every time that launching the command
 "alpha = opc.OPCN2(spi)" I got the error message:
**"Startup Error: Your firmware version could not be automatically detected. This is usually caused by bad wiring or a poor power supply [..]"**.

My configuration is about a RPi 3 Model B and a OPCN2 connected using the USB-SPI device and Python 3.5.3. Be

[2018-04-17 18:12] DancingQuanta commented on #63
USB connection: Yes you have to try a number of times before you could connect. I suggest putting `alpha = opc.OPCN2(spi)` in a while loop so that this command can repeat until successful connection. Here is an example:
[code]
Perhaps a form of this can be incorporated in @dhhagan's library.

Sudoer: Can you explain more on this please? Why do you need to use `sudo`? As a author of usbiss library

[2018-04-18 07:48] teokino commented on #63
I am grateful for the kind reply. The need to be root is not necessarily linked to OPC-N2 but to the fact that the collected data are uploaded to a web server and to do this I must be superuser. In any case, I will solve it in some way.

Although I have read the bees I can not understand the difference between alpha.histogram () and alpha.histogram (False). It would seem that alpha.pm () gives PM

[2018-04-18 16:37] #59 closed

[2018-04-18 16:38] DancingQuanta commented on #63
I suggest opening a new issue on the PMs values, this issue is about USB connectivity and so it will get confusing fast if people ask a lot of different things here. If the vendor supplied software on Windows can fetch the PM values for you then report that in the new issue so the @dhhagan can give his opinion on what ailing you.

Unsolicited advice on `sudo`, avoid `sudo` if possible in routine o

[2018-04-18 17:02] dhhagan commented on #63
I agree with opening a new issue @DancingQuanta. In other news, changes including logging and retrying connections are now available on the dev branch. I will test here in a few minutes.

[2018-04-18 17:07] dhhagan commented on #63
Also, @teokino The difference between the two histograms you were outputting is that you are reading them in different units.

## Number Concentration

Output the binned values in units of # of particles per cubic centimeter.

    $ alpha.histogram(number_concentration=True)

## Bin Values

Output the binned values as the number of particles in a given bin since the last time you emptied the bin (

[2018-04-18 18:08] dhhagan commented on #63
Okay, for everyone on this issue, version 1.6 is now released via GitHub (not yet on PyPi). Once a few of you can test/verify the issues are solved, I will issue a new release. Let me know if you have any questions/comments/concerns.

[2018-05-11 19:35] rach8cww opened #66 "Data transfer was incomplete."
I'm having an issue while reading the histogram from my device:

[code]

Any ideas on what the issue could be?

[2018-05-11 19:47] tavurth commented on #66
https://github.com/rach8cww/OPC_Work

[2018-05-11 21:00] DancingQuanta commented on #66
Does that happen every time you tried to get the histogram?

[2018-05-11 22:08] rach8cww commented on #66
Yes it does

[2018-05-11 22:35] dhhagan commented on #66
Could you let us know which version of the library you are using, as well as what version of Python, and what firmware version of the OPC-N2 you are using?

[2018-05-12 08:28] DancingQuanta commented on #66
What version of pyusbiss are you using?

On Sat, 12 May 2018, 09:20 rach8cww, <notifications@github.com> wrote:

[2018-05-13 15:00] rach8cww commented on #66
Sorry for the delay, I'm using pyusbiss 0.2.2

[2018-05-13 16:59] DancingQuanta commented on #66
Can you try pyusbiss 0.2.0?

On Sun, 13 May 2018, 16:00 rach8cww, <notifications@github.com> wrote:

[2018-05-14 10:42] rach8cww commented on #66
[code]

Still no luck, fails with the same error message:
[code]

[2018-06-15 14:15] biogis commented on #63
Hello,
Using the last py-opc version (1.6) on python 2.7 and a direct connection on a rPi3 GPIO, I still got the same error:

In [8]: alpha = opc.OPCN2(spi)
ERROR:opc:Could not parse the fimrware version from
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/opc/__init__.py", line 77, in __init__
    self.firmware['version'] = int(re.findall("\d{3}", infostring)[-1]

[2018-06-18 13:12] biogis commented on #63
Hello,

It finally worked, the MOSI and MISO were wrong in the GPIO... Sorry...

[2018-06-18 13:36] dhhagan commented on #63
@biogis No worries. Thanks for letting us know!

[2018-06-18 13:36] #63 closed

[2018-06-21 14:43] rach8cww commented on #66
Solved the issue - the instrument needs to have time to warm up before you ask for the histogram. I've added a few short sleep pauses in as well and is makes it run smoother. This is the output now:

Trying to connect to instrument ttyACM0 ...
Connected to instrument! <usbiss.spi.SPI object at 0x76a23cf0>
Connected to Alphasense OPC-N2v18.2
Alphasense instrument processing request
----------------

[2018-06-22 01:38] dhhagan commented on #66
@rach8cww Great to hear! I'll be sure to add a note to the docs about waiting a bit between commands. I did speak with Alphasense and they mentioned this may be a requirement...

[2018-06-22 01:38] #66 closed

[2018-06-22 14:01] DancingQuanta commented on #66
Does alphasense have some more details on timings for each i2c commands and
probably timing diagrams?

On Fri, 22 Jun 2018, 02:38 David H Hagan, <notifications@github.com> wrote:

[2018-06-22 14:22] dhhagan commented on #66
@DancingQuanta They do not - it's quite unfortunate. I do have quite a few screenshots (and data) for most of the commands via a Logic Analyzer, but that's about it. In addition, some of the commands aren't designed to actually be functional, which they say will be fixed on the OPC-N3 (i.e. the laser_off command doesn't actually do anything).

[2018-06-22 17:02] DancingQuanta commented on #66
Ah well that is a shame. Looks like we have to figure out what works. What
will your strategy be regarding issues raised here?

On Fri, 22 Jun 2018, 15:22 David H Hagan, <notifications@github.com> wrote:

[2018-06-22 22:40] tshu opened #68 "python-sphinx required to build html docs"
When navigating to py-opc/docs and running 'make html', I experience the following issues in order:

For reference, I have a clean install of Raspbian 9 (stretch) on kernel version 4.14.34-v7+ using a Pi 3 B+.

1. python-sphinx dependency not found

`Makefile:12: *** The 'sphinx-build' command was not found. Make sure you have Sphinx installed, then set the SPHINXBUILD environment variable to poin

[2018-06-22 22:58] tshu opened #69 "test-device.py only works with python2"
After installing usbiss according to the instructions using `pip install git+https://github.com/DancingQuanta/pyusbiss.git`, I am unable to run `$ python3 test-device.py` from the main folder.

Interestingly, `$ python test-device.py` works fine.

[2018-06-22 23:16] tshu opened #70 "SPI-USB Adapter with OPC-N2 example does not work with any python version"
Related to #69, running the example script for the device using `python3` results in

[code]

Attempting to use `python` results in

[code]

in addition to the device's fan continually running until unplugged.

[2018-06-23 07:59] DancingQuanta commented on #70
The first error showed you haven't installed pyusbiss.
Did you execute pip install pyuabiss?

On Sat, 23 Jun 2018, 00:16 Tony Shu, <notifications@github.com> wrote:

[2018-06-23 08:04] DancingQuanta commented on #70
Ah. If you wanted python 3 to work then execute pip3 install pyusbiss

[2018-06-25 07:29] DancingQuanta commented on #69
Please see my comments on #70

[2018-06-25 07:38] DancingQuanta commented on #70
Your second issue after executing `python2` appears to be a bad communication.
Can you connect your sensor to the adaptor and wait for a minute before executing the `test-device.py` script? We have numerous Github issues regarding the connection problems and one of the solutions was to wait between physically connecting the sensor and executing any commands.

[2018-06-25 07:51] DancingQuanta commented on #70
Oh, your traceback does show that you successfully connected to your sensor.
The `py-opc` library attempts to communicate with your sensor a number of times before it succeeded. Your traceback shows two failed attempts and third attempt is successful.

Your real problem is the last line `WARNING:opc:Data transfer was incomplete`. This was due to `test-device.py` executing the histogram command at

[2018-06-25 11:46] dhhagan commented on #70
@tshu Can you let me know which version of `py-opc` is installed (`opc.__version__`)? I thought I fixed several of these in the newest release after speaking with Alphasense on some of the issues. Thanks!

[2018-06-25 15:41] tshu commented on #70
Great, so both python2 and python3 work with test-device.py after using pip3 and waiting after USB connection. I will occasionally fail to connect 2-3 times, but it will always run the script in the end. If there can be a note about the wait time in the readme, that would be great.

However, referring back to the original problem in this issue of running the example code from the readme, both pyth

[2018-06-25 16:47] DancingQuanta commented on #70
What is output of the following script (modified from readme)
[code]

[2018-06-25 16:54] tshu commented on #70
[code]

[2018-06-25 17:00] #68 closed

[2018-06-25 17:02] dhhagan commented on #70
@DancingQuanta @tshu It would appear the script/code above is incorrect - it should be `alpha.on()` since that is what the `OPCN2` class instance was initiated as. I have just merged the previous readme changes into `v1.6.1`. Care to check?

[2018-06-25 17:03] DancingQuanta commented on #70
Opps, I made a name mistake.

[code]

[2018-06-25 17:34] tshu commented on #70
[code]

Getting some garbage outputs.

[2018-06-25 17:47] DancingQuanta commented on #70
Could you replace `print(alpha.read_info_string())` with `print(repr(alpha.read_info_string()))` and try again  please?

[2018-06-25 17:54] tshu commented on #70
[code]

[2018-06-25 17:59] DancingQuanta commented on #70
Your output shows that it is getting blank data from your sensor.
Can you add `sleep(1)` before each line containing `alpha` and run the script?

[2018-06-25 18:03] tshu commented on #70
That did the trick.

[code]
The only necessary sleep is between turnon and the read. The following code works:

[code]

[2018-06-25 18:09] DancingQuanta commented on #70
We probably need to improve `alpha.on()`. A sleep could be added to end of `alpha.on()`. Or have a timer in the library that track which command have been sent. So that the script itself can work without being slowed down until it execute another `alpha` command which then will invoke sleep with time period equal to alphasense's response then execute. Like a debt.

[2018-06-25 23:09] tavurth commented on #66
I'd suggest creating a method, which simply checks every 200ms until the device is ready.

[code]

[2018-06-26 11:58] dhhagan commented on #66
@tavurth That sounds like a fantastic idea, though I'm not sure exactly how to implement it with this device. Do you have any thoughts?

[2018-06-26 12:12] dhhagan commented on #70
@DancingQuanta Yea, I tried to avoid doing anything other than wrapping the SPI commands, but it seems that it is causing so much trouble for most users (myself included). I went ahead and added sleeps in the necessary places and will push a bit later on today as I have some free time.

[2018-06-26 14:54] tavurth commented on #66
@dhhagan Sure, I made a quick PR

[2018-06-27 10:15] teokino opened #73 "OPC-N2 remains stuck in a infinite wait - advices"
Hello to all,

thanks to your suggestions I have carried out continuous monitoring using OPC-N2. For two months the data were collected without any kind of problem.

Recently I realized that for 10 days, the code execution was blocked pending data. The connection had been established but the execution is stuck at `values_PM = alpha.pm ()`. Once the process was killed and restarted again, everythin

[2018-06-27 12:11] dhhagan commented on #73
Hi @teokino Thanks for raising this issue. I haven't seen or heard of this happening before, and am not really sure what could be causing the issue under the hood. As far as I'm aware, this shouldn't be possible, as SPI is timing based and it should immediately feed you back nonsensical data if something is truly wrong.

Before I dig too deep into it, could you tell me the version of the library y

[2018-06-27 12:29] teokino commented on #73
Thank you @dhhagan. My configuration is about a RPi 3 and a OPCN2 connected using the USB-SPI device and Python 3.5.3. I got py-opc (1.5.0) and firmware 18.2
(`alpha = opc.OPCN2(spi)`

alpha ---> **Alphasense OPC-N2v18.2 )**

[2018-06-27 13:10] DancingQuanta commented on #73
Since you are using USB-SPI device, please state your pyusbiss version.

[2018-06-27 13:20] DancingQuanta commented on #70
Can I suggest a decorator to wrap some methods to add sleep to beginning of a method if the method was called in the specified time period since last method called. Like a cool down. We know that a method such as `on` takes a while to make the device ready.
Every time a method such as `on` is called the time of this call is recorded. Next time a method (any method) is called, the new time is compa

[2018-06-27 13:23] dhhagan commented on #70
@DancingQuanta I'll go ahead and merge a few PR's and push right now - maybe then take a look and see what you think is best? A decorator would be fine as you suggest - I think I just added a few sleeps. Give me 30 min or so.

[2018-06-27 13:29] dhhagan commented on #73
@teokino Did you install the package (py-opc) via pip? Or through GitHub? We've made some changes recently that aren't yet reflected in the version you're using (1.5.0) - you could give the most recent version a try if you would like to, otherwise it will be available through pypi within the next few days.

[2018-06-27 13:37] teokino commented on #73
I have used pip and it is impossible update the libraries. Unfortunately I do not have an internet connection and I can not access the sd-card. The RPi is in a hard-to-reach place to which I am connected to remote desktop using an ethernet cable.

for this reason I was wondering if there was a way to get around the problem. I hypothesized the use of threads by comparing the timing of the last data

[2018-06-27 13:56] teokino commented on #73
Thinking better, I could download the file from github and install it offline remotely using pip. In that case maybe the problem could be resolved.

[2018-06-27 14:29] dhhagan commented on #73
@teokino That would probably be the easiest solution. v1.6.0 was just released!

[2018-06-27 14:30] dhhagan commented on #70
@tshu I've added some notes to the readme. Should be okay now?

[2018-06-27 14:59] teokino commented on #73
Thank you! I will try :)

[2018-06-27 17:37] DancingQuanta commented on #73
Running a python application for a long time may have an event where anything could happen. Your experience is interesting. It would be useful to describe how the function `get_data_points` is called and at what frequency.
I wonder whether there is a decay in python objects from being in memory for a long time.
Maybe raspberry pi got bored and rebelled somewhat?
Threading may help but this require

[2018-06-27 18:57] DancingQuanta commented on #73
Another question: Are you able to get information whereabout in `alpha.pm()` does it hahg? How can you determine that it hang at `alpha.pm()`?

[2018-06-27 21:06] DancingQuanta commented on #73
Okay. Looks like we don’t know where the issue is in alpha.pm().

Are you happy to keep running your current system and monitor weekly?

Are you able to edit a file in your system? If so, you can try putting a
print statement in middle of alpha.pm() in the sites packages? If it happen
again, then we will know roughly where the issue may be.

On Wed, 27 Jun 2018 at 21:26, Matteo Chini <notification

[2018-06-28 08:06] teokino commented on #73
Hi @DancingQuanta! Unfortunatly for me is impossible to access the filesystem. All packages were installed by the computer technicians of the company on my suggestion.

For the timeline of monitoring, what do you mean with "_Are you happy to keep running your current system and monitor weekly_" ?

[2018-06-28 10:59] DancingQuanta commented on #73
Monitor weekly means check the data on a same day each week.

[2018-06-28 12:13] teokino commented on #73
Mmmh the same day is difficult because it depends on the tasks of the company at which the sensor is installed.

[2018-06-29 14:22] #70 closed

[2018-06-30 12:31] DancingQuanta commented on #66
I have an idea. Can `histogram` and others check the bytes as they come in. If the Alphasense is not ready then when you read in byte they comes as `\x01`. It would be useful to confirm that byte does not occur at first byte of correct response. So if you detect `\x01` then you could repeat the command byte and test again.

[2018-06-30 20:13] tavurth commented on #66
@DancingQuanta That would be preferable:

[code]

Here we see that we send a command byte, and then expect to read 62*`uint16bit` of information.

1) Can we cancel that query by just sending another command byte? (Perhaps we have to read until the end of the 62 bits)
2) How can we make this work for something other than histograms?

I'd be wary about interfacing with the bits directly as we have a

[2018-07-01 07:48] DancingQuanta commented on #66
Alas, I do not know the details of Alphasensw’s spi.

On other note, I noticed that this library already have a ping function, this is very short spi command and can be used to check if the device is ready.

[2018-07-11 15:06] selimnairb opened #75 "Documentation clarification"
For `opc.OPCN2.pm()` and `opc.OPCN2.histogram()` functions, PM1, PM2.5 and PM10 values are reported.  I am assuming the units on these are μg/m3, however the documentation doesn't say.  The documentation should be updated to clearly state the units that the data are being reported in.

[2018-07-16 11:20] mc13756 opened #76 "ERROR: opc: Could not parse the firmware version from"
I tried to run the code and I got the following errors:

ERROR:opc:Could not parse the fimrware version from ????????????????????????????????????????????????????????????
Traceback (most recent call last):
  File "/home/pi/.local/lib/python3.5/site-packages/opc/__init__.py", line 77, in __init__
    self.firmware['version'] = int(re.findall("\d{3}", infostring)[-1])
IndexError: list index out of ra

[2018-07-16 11:53] dhhagan commented on #76
Hi @mc13756 The error comes from not being able to correctly parse the firmware version of the OPC. Often, this is caused by a wiring issue, power issue, or sometimes a code issue. Can you please let us know which version of the software you are using (`opc.__version__`) and post the code you used to get to this point?

[2018-07-16 12:29] dhhagan commented on #76
Thanks for that information. Which version of the `py-opc` library are you using? You can get it by issuing the command `opc.__version__`; you can also get it by running `$pip list` at the terminal and finding the version number of the package.

[2018-07-16 12:45] mc13756 commented on #76
I am using the library py-opc (1.6.0)

[2018-07-16 12:50] dhhagan commented on #76
Thanks. How is it wired up? I assume you are using the GPIO pins? How is it being powered?

[2018-07-16 13:04] mc13756 commented on #76
Yes, I am using the GPIO pins. I give 4.6 V through an external battery. I've already checked the wiring connection and it's working fine.

[2018-07-16 13:08] dhhagan commented on #76
Ahh okay. Have you verified the OPC-N2 will work with 4.6V? I believe it requires at least 4.8VDC and > 250 mA. You could test it by simply plugging the battery into the micro-USB slot on the OPC; it will start up by itself after a minute and log data internally. You can then grab that data via the micro-USB slot and see if it makes sense.

[2018-07-16 13:53] mc13756 commented on #76
I increased the voltage to 4.9 V with the same result. Also, I tried the following code too, in order to get the results analytically:

https://gist.github.com/dhhagan/bfb17459f0067a120f09?signup=true

Sometimes the code starts compiling and I get an error at line 83 and sometimes I have the same result as the previous code.
Error: opc: Firmware version is invalid for this device.

[2018-07-16 13:58] dhhagan commented on #76
Hmm. Can you draw the wiring diagram. It's fairly easy to mix up MISO and MOSI, so I'd like to rule that out..

[2018-07-17 07:09] mc13756 commented on #76
![37278118_10217657498454997_2256412015855665152_n](https://user-images.githubusercontent.com/41290765/42801808-884e96ca-89a9-11e8-8ade-3fd161245f32.jpg)

[2018-07-19 20:39] metallicano opened #77 "firmware version error"
i am trying to run the code butr i have a problem : coul not parse the firmware version , what can i do ?

[2018-07-19 21:02] metallicano commented on #76
how can i now what firmaware version am using?

[2018-07-20 00:01] dhhagan commented on #76
Hi @metallicano; are you able to connect to the device? If so, you can use either `read_information_string()` or `read_firmware_version()`.

[2018-07-20 00:08] dhhagan commented on #76
@mc13756 This seems like a wiring issue (hopefully an easy fix!). According to this [diagram][1], you should have the following:

  * SCK -> GPIO 14, Pin 23
  * SDO/MISO -> GPIO 13, Pin 21
  * SDI/MOSI -> GPIO 12, Pin 19
  * /SS -> GPIO 10 or 11, Pins 24, 26

If you haven't already seen this, the instructions can be found [here][2].

Let me know if this doesn't work.

[1]: http://pi4j.com/pins/mod

[2018-07-20 13:54] mc13756 commented on #76
I've checked the wiring and is just like you mentioned above.  I run the extended version of code
https://gist.github.com/dhhagan/bfb17459f0067a120f09?signup=true
and I got the following error.

ERROR:opc:Firmware version is invalid for this device.
Traceback (most recent call last):
  File "/home/pi/Desktop/opc_test_3.py", line 31, in <module>
    alpha = OPCN2(spi)
  File "/home/pi/.local/lib/py

[2018-07-20 14:08] dhhagan commented on #76
@mc13756 Try `pip install py-opc --upgrade` - the brackets are just to indicate it is optional

[2018-07-20 14:29] mc13756 commented on #76
ok. thank you.
It seems like OPC works randomly.  Sometimes I got the following error:

ERROR:opc:Firmware version is invalid for this device.
Traceback (most recent call last):
  File "/home/pi/Desktop/opc_test_3.py", line 31, in <module>
    alpha = OPCN2(spi)
  File "/home/pi/.local/lib/python3.5/site-packages/opc/__init__.py", line 301, in __init__
    raise FirmwareVersionError("Your firmware

[2018-07-20 14:32] dhhagan commented on #76
@mc13756 Interesting - the script your using is pretty outdated (from 2015, I think). I would take a look at the most up-to-date docs for reference. When did you buy the OPC and do you have the SPI-USB connector for debugging purposes? Your OPC is most likely v18.2, but I can't be sure..

[2018-07-23 07:09] mc13756 commented on #76
I think we bought the OPC on 2015 and our version is 18.2. Yes, I have the SPI-USB connentor

[2018-07-23 16:04] metallicano commented on #76
hi , the problem persist , but in the end of the text i have this : your firmware is not supported :C

[2018-07-23 16:42] metallicano commented on #76
now the code runs but sometimes XD,

[2018-07-23 16:43] dhhagan commented on #76
@metallicano Can you post the code and wiring you're using?

[2018-07-23 17:47] metallicano commented on #76
import spidev
import opc
from time import sleep

spi = spidev.SpiDev()
spi.open(0, 0)
spi.mode = 1
spi.max_speed_hz = 500000

alphasense = opc.OPCN2(spi)

# Turn the opc ON
alphasense.on()

sleep(1)

# Read the information string
print (alphasense.read_info_string())

# Read the histogram
print (alphasense.histogram())

# Turn the opc OFF
alphasense.off()

thw wiring is the same :
SCK -> GPIO 14,

[2018-07-23 17:47] metallicano commented on #76
import spidev
import opc
from time import sleep

spi = spidev.SpiDev()
spi.open(0, 0)
spi.mode = 1
spi.max_speed_hz = 500000

alphasense = opc.OPCN2(spi)

# Turn the opc ON
alphasense.on()

sleep(1)

# Read the information string
print (alphasense.read_info_string())

# Read the histogram
print (alphasense.histogram())

# Turn the opc OFF
alphasense.off()

[2018-07-23 17:49] metallicano commented on #76
import spidev
import opc
from time import sleep

spi = spidev.SpiDev()
spi.open(0, 0)
spi.mode = 1
spi.max_speed_hz = 500000

alphasense = opc.OPCN2(spi)

# Turn the opc ON
alphasense.on()

sleep(1)

# Read the information string
print (alphasense.read_info_string())

# Read the histogram
print (alphasense.histogram())

# Turn the opc OFF
alphasense.off()

[2018-07-23 17:50] metallicano commented on #76
import spidev
import opc
from time import sleep

spi = spidev.SpiDev()
spi.open(0, 0)
spi.mode = 1
spi.max_speed_hz = 500000

alphasense = opc.OPCN2(spi)
alphasense.on()
sleep(1)
print (alphasense.read_info_string())
print (alphasense.histogram())
alphasense.off()

[2018-07-23 17:51] metallicano commented on #76
the wiring is the same :
SCK -> GPIO 14, Pin 23
SDO/MISO -> GPIO 13, Pin 21
SDI/MOSI -> GPIO 12, Pin 19
/SS -> GPIO 10 or 11, Pins 24, 26

[2018-07-23 20:50] metallicano commented on #76
hi , problem solved , thanks for all 💯

[2018-07-26 09:08] DancingQuanta commented on #76
The decimals could be an average. Can you show the data you are getting please?

[2018-07-26 12:39] dhhagan commented on #76
Hey @mc13756 The reason you are getting decimals is because the default argument for `number_concentration` is `True` (read more about it in the [docs](http://py-opc.readthedocs.io/en/latest/#opc.OPCN2.histogram)). Thus, the number concentration in units of #/cc is being returned rather than the raw count. If you want the raw count, simply set `number_concentration=False`.

[2018-07-26 13:48] mc13756 commented on #76
How can I get access to change the number_concentration to False?

[2018-07-26 14:20] dhhagan commented on #76
@mc13756 It's just an argument to `opc.histogram()`. So if you wanted to return the values as a raw histogram, you would do `opc.histogram(False)` or `opc.histogram(number_concentration=False)`.

[2018-07-26 18:11] dhhagan opened #78 "Add support for the OPC-N3"
I have just received an OPC-N3 and can thus begin this process!

[2018-07-27 07:06] mc13756 commented on #76
I changed the argument to False and everything looks to work normally.

Thank you very much!!!

[2018-07-27 12:34] dhhagan commented on #77
merging with #76

[2018-07-27 12:34] #77 closed

[2018-07-27 12:36] dhhagan commented on #76
Good to hear, @mc13756: just be aware that the number you are seeing is the total number of particles in each bin since the last time you called either `pm()` or `histogram()`. In doing the conversion to #/cc, I was accounting for the sampling time and flow rate.

[2018-07-27 12:36] #76 closed

[2018-07-27 12:36] dhhagan commented on #75
Thanks for the suggestion @selimnairb. I will add this into the next release.

[2018-09-08 16:23] metallicano opened #79 "conect the opc to other pins"
hi , i need to coenct two opc to my raspberry, i saw other pins for the spi comunications

gpio 21 = sclk
gpio19 = miso
gpio20 = mosi
gpio 7=ce1

when i try to conect mi opc to that pins and run the code y have de firmware version problem,so how i can use that gpio pins ?

[2018-10-11 14:17] dhhagan commented on #79
Which version of the Raspberry Pi are you using? Or is it another device?

[2018-10-11 17:09] metallicano commented on #79
pi zero w , i find this in internet:
https://raspberrypi.stackexchange.com/questions/83610/gpio-pinout-orientation-raspberypi-zero-w

El jue., 11 oct. 2018 a las 9:33, David H Hagan (<notifications@github.com>)
escribió:

[2018-10-16 16:36] Mi-Ch commented on #78
Have started work on support for OPC-N3 in py-opc?
//Thank you for your great project!

[2018-10-16 16:39] dhhagan commented on #78
Hi @Mi-Ch I have not yet, but I can if there is a demand for it...I'll try and get started within the next week or so.

[2018-10-16 17:28] Mi-Ch commented on #78
Thank you @dhhagan ! That would be great. We just received two OPC-N3 and we are setting up small comparison study with PMS7003 (x2) and SEN0177 (x2).

[2018-10-17 14:39] biogis commented on #78
Hello,
We'll also need OPC-N3 support soon. We worked with the N2 but decide to go further with the last sensor.
Great project also, thanks for the job you are doing.

[2018-10-17 20:38] dhhagan commented on #78
Oye - I'll do my best...have a bunch of papers to write and a dissertation to finish up, so hold on...ha

[2018-10-22 13:35] Mi-Ch commented on #78
@dhhagan I know the pain, I'm in the same situation ;(. Dissertations, papers....but preparing new measurements/experiments is much more interesting than writing about old ones.

[2018-10-22 22:31] dhhagan commented on #78
Alright @Mi-Ch and @biogis - I will get to this this week (hopefully sometime tomorrow). In the meantime, it would be great if you (and anyone else reading this) took a second to add to the [mentions page][1] to let me/others know how you're using this software. If nothing else, maybe it will convince some other PI's that releasing OSS isn't a huge waste of time!

[1]: https://github.com/dhhagan/p

[2018-11-01 16:59] dhhagan commented on #78
Alright - an update: I just set aside some time to implement this into the package, but the Alphasense-provided documentation on the SPI protocol is totally incomprehensible. I would suggest anyone that needs this to operate the Alphasense OPC-N3 reach out to Alphasense directly and ask them to either add it themselves, clarify their documentation, or hire someone to do it. I apologize that I wasn

[2018-11-02 12:09] biogis commented on #78
It might be a dummy question, but the failing connection is due to the spi or to another firmware in the opc which is not recognised py the opc.OPCN2 function?

My first error is by opening the connection using the opc.OPCN2() function, and it mentions a firmware error.

[2018-11-02 12:19] dhhagan commented on #78
@biogis Yea, I would say that's expected. When you initiate an instance of OPCN2, it automatically issues the `read_info_string()` method to get the firmware version so that it knows which other methods are unavailable. For the OPCN2's, the firmware versions were in the range 15-18.2; however, on the OPCN3's, they switched it up, and now the firmware versions are stuck in v1 (i.e. v1.17) - not sur

[2018-11-02 12:22] biogis commented on #78
Ok, I understand better what the issue is. I'll ask alphasense what they have been doing. Thanks for your prompt answer. I'll send the answer of alphasense on that issue.

Best luck for your diss...
Manu

[2018-11-07 16:32] Velivole commented on #78
Hi everybody,
I just wanted tu port my project from the N2 to the N3 an stumbled upon some errors and then this thread. This doesn't sound very good, what Alphasense did there.

I am not that kind of pro to work on this github project actively. But is there anything I can do (i.e. contact Alphasense) to help make things work? We are really dependened on a working N3.

Thank you very much!

[2018-11-08 10:48] biogis commented on #78
Simple and single answer I could get from Alphasense is:
"The PSI commands etc for the OPC are similar but not identical to the N2"

And I got the documentation. I'll see what I can do and change on my side

[2018-12-03 21:10] tomasfichetti opened #81 "ERROR:opc:Could not parse the fimrware version from Traceback (most recent call last):"
Hello! I'm having problems with opc-n2. I already check the cables and the power. I also update the library.

This is my program:

[code]

# Turn the opc ON

[code]

# Read the information string

[code]

**The return is:**

[code]

[2019-01-25 13:51] Velivole commented on #78
Hi everybody,
my doctorate supervisor managed to get a bit of the py-opc code working with the Alphasense OPC-N3. However, there is still some work to do and we are hopeing for any help, that can be contributed. You can find the fork here: https://github.com/philipan/py-opc

[2019-01-25 17:20] dhhagan commented on #78
@Velivole This is great! Is there anything specific you think needs to be looked at? I just looked very briefly and it looks like it was written for python2 - prior to merging with this repo it should support python3, but that's an easy change.

I'm a bit short no time right now, but can look over specific things if you would like.

[2019-03-16 01:18] metallicano opened #83 "why i can`t supply the OPC-N2 with the raspberry ?"

[2019-03-18 22:30] dhhagan commented on #83
Hi @metallicano Can you be more specific so I can help? Thanks!

[2019-03-19 01:52] metallicano commented on #83
in the documentation of the py-opc`s is it : The OPC requires at least 250 mA, so powering directly through the RPi is not an option....why?

[2019-03-19 01:56] dhhagan commented on #83
Ahh okay. The new RPi's can only output 100 mA from all GPIO pins combined, whereas the older models can only output 50 mA total (16mA per pin max).

You can try it from the 5V pin, but according to the specs, it shouldn't work..

[2019-03-21 00:41] patricktokeeffe commented on #83
@dhhagan I think you may have misread the [specs page](https://www.raspberrypi.org/documentation/hardware/raspberrypi/power/README.md). I/O pins are limited to 50mA but the 5V pin is tied directly to the power rail. It can source whatever the power supply can provide, certainly over 1A. See also:

* https://raspberrypi.stackexchange.com/questions/9298/what-is-the-maximum-current-the-gpio-pins-can-

[2019-03-21 01:41] dhhagan commented on #83
@patricktokeeffe ahh okay - good to know! I'll change the docs then when I have time unless someone wants to send a PR with the changes..

[2019-03-21 02:29] patricktokeeffe commented on #83
@dhhagan I'd be happy to submit a PR later tonight

[2019-03-21 03:37] metallicano commented on #83
THANKS :)

[2019-03-21 03:41] metallicano commented on #83
SO, i can connect the opc to 5V raspberry  pin and it will work ok ?

[2019-03-29 04:50] patricktokeeffe commented on #83
Hi @metallicano you tried it out? if so how is it working?

[2019-05-13 14:23] metallicano commented on #83
Yes, it works

[2019-05-13 14:25] #83 closed, assigned to nobody

[2019-05-13 22:22] metallicano commented on #83
yes it is working by the moment "good", i will to compare it whith  other
sensor, the DUSTTRAK 8533 and then i'll tell you the results.

El lun., 13 may. 2019 a las 9:25, David H Hagan (<notifications@github.com>)
escribió:

[2019-05-29 11:40] PlanningChris commented on #78
I'm just starting out on a project to connect the OPC-N3 to a Pi and came across this. Did you ever get any further working with the OPC-N3? It looks like the fork mentioned by Velivole is the way to go for now?

[2019-05-29 12:23] dhhagan commented on #78
Hey @PlanningChris, I have not had time to take a look at it yet, so yes, that is probably the way to go for now. If anyone gets a version working and confirmed, I am more than happy to take a look at pull requests. I will update this thread if I can find the time to take a look and build a working version!

[2019-08-19 13:38] FlorentinBulotAQ opened #84 "Suggestion for improvement - Set the logging internally to the _OPC class"
Hello,

Just a suggestion for improvement as the logger creates conflict when integrating it with other loggers. I am happy to do it if people deem it necessary. Otherwise, a workaround is to use:

`for handler in logging.root.handlers[:]:
   logging.root.removeHandler(handler)`

in the script you use to run the py-opc library.

With best wishes.

[2020-06-12 11:19] piyushy6 opened #85 "Turning off the Fan of OPC-R1"
I am running OPC-R1 using SPI to USB and i have connected it to Raspberry Pi.
When I use alpha.off(), it stops the sensing but does not turn off the Fan of the sensor. The Fan keeps on going, even when the script is not running.

Could you suggest how should I turn off the Fan of OPC-R1?

[2020-06-12 13:09] dhhagan commented on #85
Hi @cobalt67 This library currently does not support the OPC-N3 or OPC-R1 - just the OPC-N2. Many have tried to adapt it for the newer sensors with mixed reviews, and unfortunately, I don't have those devices to test, so I haven't been able to work on it myself. I believe if you search through the issues you will find some on the topic of the R1 and N3 that may be helpful.

[2020-06-12 13:11] dhhagan commented on #81
Hi @tomasfichetti Is this still an issue? Sorry for the long delay here...

[2020-06-12 13:12] #79 closed

[2020-06-18 12:25] piyushy6 commented on #85
Hey @dhhagan Thanks a lot for the information. My R1 works well with Rpi, but the results are not that satisfactory. Probably because R1 is not that reliable. Could you please suggest some other lightweight PM sensor, I basically integrate it on a UAV?

Also, could you please explain why does b1 == 0xF3 and b2 == 0x03 in class OPCN2(_OPC) ?

        True
        """
        b1 = self.cnxn.xfer([0x

[2020-06-18 13:45] FlorentinBulotAQ commented on #85
Hi @cobalt67

This comes from the manual of the OPC-N2. After sending 0x03 it should return 0xF3 and after sending 0x01, it should return 0x03.

The OPC-R1 has different command bytes to the OPC-R1 so the class OPCN2(_OPC) will not work with it. You can try my fork of the code for the implementation of the OPCR1 class: https://github.com/FlorentinBulotUoS/py-opc I have been using it for a year or

[2020-06-18 18:19] piyushy6 commented on #85
Hey @FlorentinBulotUoS
Thanks for clearing it out. I tried your OPCR1 class, and my issue of fan and laser is solved now! Thanks a lot for sharing it, your py-opc works perfectly with my R1.

One more thing, I have been using OPCN2(_OPC) class till now with R1 and it is also working with R1, I am not sure how it is compatible with the bytes of R1?

[2020-10-12 18:17] lizcorson commented on #78
@Velivole @dhhagan Are you still interested in contributions? I have successfully written a function to calculate the checksum for the OPC-N3 based on the fork @Velivole linked. My repository is here for your review before I submit a pull request: https://github.com/lizcorson/py-opc/tree/opc-n3

[2020-10-12 18:26] dhhagan commented on #78
Hi @lizcorson yes, contributions are still welcome. I've been quite limited in time, but do have some N3's lying around that I can use to test now...

[2020-10-12 20:30] lizcorson commented on #78
Great! I also changed a few things over to Python 3 as well. I had to do that for my own testing. device-test.py uses the OPCN3 class now.

[2020-10-19 12:17] phoebebright commented on #78
Just used @lizcorson branch and working for me also.  Thanks Liz :-)

[2020-10-19 14:55] dhhagan commented on #78
Great to hear @phoebebright. @lizcorson If you want to submit a PR, I can merge it in. I haven't looked through everything yet, but generally speaking, we will just want to make sure the code passes unit tests and has any necessary documentation. i can certainly help with that or provide guidance if needed. If these steps are already done, then feel free to ignore and just submit the PR.

[2020-10-19 21:17] lizcorson commented on #78
I have not yet run the unit tests so I'll give that a try and let you know when it's ready. Thanks, @dhhagan!

[2020-12-19 14:12] dwitam commented on #81
Hello, Getting the same issue. Can you help me out.. I am using OPC-R1.

ERROR:opc:Could not parse the fimrware version from 1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó1ó
Traceback (most recent call last):
  File "/home/pi/py-opcr1/opc/__init__.py", line 77, in __init__
    self.firmware['version'] = int(re.findall("\d{3}", infostring)[-1])
IndexError: list index out of range

[2020-12-19 22:13] dhhagan commented on #81
Hi @dwitam can you post the code you're using? There currently isn't support for the OPC-R1 or OPC-N3 in the master branch as they're completely different. There is a development branch that supports (hopefully) these sensors, but it hasn't been tested.

[2020-12-21 06:02] dwitam commented on #81
`import spidev
import opc
import time

#? Open a  SPI connection on CE0
spi = spidev.SpiDev()
spi.open(0,0)

#? set the SPI Mode and clock speed
spi.mode=1
spi.max_speed_hz= 500000

try:
        alpha=opc.OPCR1(spi)

except Exception as e:
    print(e)

alpha.on()
time.sleep(1)

print("<---------Reading Firmware version-------------->")
print(alpha.read_firmware())

print("Read info string")
print

[2021-05-13 10:42] abhatikar opened #86 "Help: basic operation to read from OPC N2"
pyusbiss version: 0.2.2
Python version: 3.6.9
Operating System: Ubuntu 18.04
Description
Describe what you were trying to get done.
I am trying to read readings from OPC N2 sensor via SPI
I am using the library https://github.com/dhhagan/py-opc which using this library to access the OPC N2.

Tell us what happened, what went wrong, and what you expected to happen.
I am getting this error when I run

[2021-05-13 11:52] dhhagan commented on #86
Hi @abhatikar - can you include the code you're using to setup the SPI connection and OPC instance?

[2021-05-13 12:59] abhatikar commented on #86
Thanks for the reply. I am using the test-device.py from the repo. @dhhagan

[2021-05-14 13:20] dhhagan commented on #86
@abhatikar Okay - the error indicates there is something wrong with the wiring. In this case, it is likely caused by the intermediary board - I'm not familiar with the FT232H board and don't really have the time to dig into it today, but do you know if there is anything special you need to do for setup? Are you using the correct port (`/dev/tty/USB0`)?

[2021-05-14 13:41] abhatikar commented on #86
Hello @dhhagan , I really appreciate your work and efforts in maintaining this library for makers. I also appreciate you are busy, but if we get on a quick call at your said time, I could go over the full setup. Let me know. Thanks in advance.

[2021-05-14 13:41] abhatikar commented on #86
Yes i am using the correct port.

[2022-05-19 13:00] fargiolas commented on #78
Hey, if anyone is interested I'm open sourcing a library that supports all new OPC devices (N3, R1 and R2). It was written from scratch trying to abstract the common stuff in the different OPC versions into a single interface. Feedback, contributions, issues and PRs are more than welcome!

You can find it at [https://github.com/fargiolas/py-opc-ng](https://github.com/fargiolas/py-opc-ng)